# Text backup files
*.bak

#Database
*.sqlite3

#Npm modules
node_modules

**/.idea
**/.kde4
**/fastbarter.kdev4
**/.vscode
**/nbproject
**/__pycache__
venv
.venv
env
*.xml
/fastbarter/nbproject/private/
/fastbarter/fastbarterApp/migrations/
/fastbarter/media/
