{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/navigation.css' %}">
    <script src="{% static 'fastbarterApp/js/libs/jquery-3.7.1.min.js' %}"></script>
{% endblock %}

{% block title %} Каталог товаров {% endblock %}

{% block content %}
<main class="page">
    <section class="catalog">
    <div class="container">
        <div class="catalog__toolbar">
            <div class="catalog__sort catalog-sort">
                <svg class="catalog-sort__icon"><use href="#sort"></use></svg>
                <p class="catalog-sort__title">Сортировка</p>
                <button class="catalog-sort__btn catalog-sort__btn_default catalog-sort__btn_active">По умолчанию</button>
                <button class="catalog-sort__btn catalog-sort__btn_price">
                    <svg><use href="#sort-price"></use></svg>
                    <span>Примерная стоимость</span>
                    <svg><use href="#sort-price"></use></svg>
                </button>
            </div>
            <form id="form-search" class="catalog__search search catalog-search">
                <button class="search__send" type="submit">
                <svg>
                    <use href="#search"></use>
                </svg>
                </button><input type="text" name="search" id="input-search" class="search__input" placeholder="Поиск товаров..." value="{% if search %}{{ search }}{% endif %}">
            </form>
            <div class="catalog__filter catalog-filter">
                <button class="catalog-filter__btn">
                    <svg><use href="#filter"></use></svg>
                    <p>ФИЛЬТРЫ</p>
                </button>
            </div>
        </div>
        <div class="catalog__products">
            {% for el in catalog %}
                <div class="catalog-product" data-price="{{el.price}}" data-id="{{el.id}}">
                    <a href="{% url 'detail_catalog' el.pk %}">
                        <img src="/media/{{el.photo}}" alt="Товар" class="catalog-product__image">
                    </a>
                    <div class="catalog-product__row">
                        <h6 class="catalog-product__title catalog-product__search-text">{{el.title}}</h6>
                        <div class="catalog-product__info">
                            <p class="catalog-product__price"><span>≈</span>{{el.price}}₽</p>
                            <form method="post" action="">
                                {% csrf_token %}
                                <label for="submit-favorite-{{el.id}}">
                                    <svg class="catalog-product__favorite{% for elFavorite in favorite %}{% if elFavorite.catalog.id == el.id %} catalog-product__favorite_active{% else %}{% endif %}{% endfor %}"><use href="#heart"></use></svg>
                                </label>
                                <input type="text" id="remove-favorite" name="remove_favorite" />
                                <input type="text" name="filter" style="display:none;" />
                                {{form.catalog}}
                                <input id="submit-favorite-{{el.id}}" type="submit" />
                            </form>
                        </div>
                    </div>
                    <div class="catalog-product__row">
                        <p class="catalog-product__desc catalog-product__search-text">{{el.short_desc | safe }}</p>
                        <a href="{% url 'detail_catalog' el.pk %}" class="catalog-product__link">Обменять</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </section>
    <!--
    <section class="pagination-button">
        <div class="container">
            <button class="pagination-button__btn">Показать  еще</button>
        </div>
    </section>
    -->
    {% include 'fastbarterApp/modules/popup-filters.html' %}
</main>
{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
    <script type="module" src="{% static 'fastbarterApp/js/main.js' %}"></script>
    <script type="module" src="{% static 'fastbarterApp/js/catalog.js' %}"></script>
{% endblock %}
