{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/chats.css' %}">
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/navigation.css' %}">
    <meta http-equiv="refresh" content="10" >
{% endblock %}

{% block title %} Каталог товаров {% endblock %}

{% block content %}
<main class="page chats">
          <button class="open-chat-btn" type="submit" onclick="open_chat()" id="open-chat">
<svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#ffffff;} </style> <g> <circle class="st0" cx="48" cy="64" r="48"></circle> <rect x="160" y="16" class="st0" width="352" height="96"></rect> <circle class="st0" cx="48" cy="256" r="48"></circle> <rect x="160" y="208" class="st0" width="352" height="96"></rect> <circle class="st0" cx="48" cy="448" r="48"></circle> <rect x="160" y="400" class="st0" width="352" height="96"></rect> </g> </g></svg>      </button>
      <button style="display:none;" class="open-chat-btn" type="submit" onclick="close_chat()" id="close-chat">
<svg fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M18.8,16l5.5-5.5c0.8-0.8,0.8-2,0-2.8l0,0C24,7.3,23.5,7,23,7c-0.5,0-1,0.2-1.4,0.6L16,13.2l-5.5-5.5 c-0.8-0.8-2.1-0.8-2.8,0C7.3,8,7,8.5,7,9.1s0.2,1,0.6,1.4l5.5,5.5l-5.5,5.5C7.3,21.9,7,22.4,7,23c0,0.5,0.2,1,0.6,1.4 C8,24.8,8.5,25,9,25c0.5,0,1-0.2,1.4-0.6l5.5-5.5l5.5,5.5c0.8,0.8,2.1,0.8,2.8,0c0.8-0.8,0.8-2.1,0-2.8L18.8,16z"></path> </g></svg> </button>
      <script>
        function open_chat() {
            document.getElementById('account-chat').style.display='block';
            document.getElementById('open-chat').style.display='none';
            document.getElementById('close-chat').style.display='block';
        }
        function close_chat() {
            document.getElementById('account-chat').style.display='none';
            document.getElementById('open-chat').style.display='block';
            document.getElementById('close-chat').style.display='none';
        }
      </script>

    <div class="navigation"><p>
        <a href="{% url 'catalog' %}">Главная</a>
        <span>&nbsp;>&nbsp;</span>
        <a href="{% url 'chats' %}">Чаты</a>
    </p></div>
    <div class="container">
        <aside class="chats__panel" id="account-chat">
            <div class="chats-list chats-list_groups">
                <h2 class="chats-list__title">Чаты сообществ <span>0</span></h2>
                <div class="chats-list__content">
                    <!--
                    <div class="chats-list-item chats-list-item_active">
                        <figure class="chats-list-item__image">
                            <img src="{% static 'fastbarterApp/img/product.png' %}" alt="slide">
                        </figure>
                        <p class="chats-list-item__title">Обмен книг и учебн..</p>
                    </div>
                    <div class="chats-list-item">
                        <figure class="chats-list-item__image">
                            <img src="{% static 'fastbarterApp/img/product1.png' %}" alt="slide">
                        </figure>
                        <p class="chats-list-item__title">Спортивный инвен..</p>
                        <div class="chats-list-item__unreaded">+12</div>
                    </div>
                    -->
                </div>
            </div>
            <div class="chats-list chats-list_personal">
                <h2 class="chats-list__title">Личные чаты <span>{{chats_length}}</span></h2>
                <div class="chats-list__content">
                    {% for el in chats1 %}
                        <form method="post" style="margin-top: 10px;">
                            {% csrf_token %}
                            <input name="message_form" type="hidden">
                            <label for="submit-chat-{{el.id}}" class="chats-list-item">
                                <input name="switch_chat" type="hidden" value="{{el.id}}">
                                <input name="create_new_chat" type="hidden">
                                <input id="submit-chat-{{el.id}}" type="submit" style="display: none;">
                                <figure class="chats-list-item__image">
                                    <img src="/media/{{el.user2.photo}}" alt="slide">
                                </figure>
                                <p class="chats-list-item__title">{{el.user2.name}}</p>
                            </label>
                        </form>
                    {% endfor %}
                    {% for el in chats2 %}
                        <form method="post" style="margin-top: 10px;">
                            {% csrf_token %}
                            <input name="message_form" type="hidden">
                            <label for="submit-chat-{{el.id}}" class="chats-list-item">
                                <input name="switch_chat" type="hidden" value="{{el.id}}">
                                <input name="create_new_chat" type="hidden">
                                <input id="submit-chat-{{el.id}}" type="submit" style="display: none;">
                                <figure class="chats-list-item__image">
                                    <img src="/media/{{el.user1.photo}}" alt="slide">
                                </figure>
                                <p class="chats-list-item__title">{{el.user1.name}}</p>
                            </label>
                        </form>
                    {% endfor %}
                    <!--
                    <div class="chats-list-item">
                        <figure class="chats-list-item__image">
                            <img src="{% static 'fastbarterApp/img/slide1.jpg' %}" alt="slide">
                        </figure>
                        <p class="chats-list-item__title">Шавалиев Альберт</p>
                        <div class="chats-list-item__unreaded">+32</div>
                    </div>
                    -->
                </div>
            </div>
        </aside>
        {% if current_chat %}
        <section class="chats-window">
            <div class="chats-window__header">
                <figure class="chats-window__image">
                    <img src="/media/{{current_chat.user2.photo}}" alt="slide">
                </figure>
                <div class="chats-window__info">
                    <div class="chats-window__menu">
                        <h1 class="chats-window__title">{{current_chat.user2.name}}</h1>
                    </div>
                  <!--  <p class="chats-window__members">129 участников</p> -->
                </div>
                <div class="chats-window__btns">
                    <!--<svg><use href="#mute-chat"></use></svg>
                    <svg><use href="#settings"></use></svg>-->
                    <button class="chats-window__leave-chat">Удалить чат</button>
                </div>
            </div>
            <div class="chats-window__body">
                <div class="chats-message">
                    <div class="chats-message__body">
                        <figure class="chats-window__image">
                            <img src="/media/{{current_chat.catalog.photo}}" alt="slide">
                        </figure>
                        <div class="chats-message__content">
                            <p class="chats-message__paragraph">Название объявления:</p>
                            <p class="chats-message__paragraph chats-message__paragraph_title">{{current_chat.catalog.title}}</p>
                        </div>
                        <div class="chats-message__info">
                            <span class="chats-message__time">{{el.created_at|date:"H:i"}}</span>
                            <svg><use href="#readed"></use></svg>
                        </div>
                    </div>
                </div>
                <div class="chats-message chats-message_my">
                    <div class="chats-message__body">
                        <figure class="chats-window__image">
                            <img src="/media/{{current_chat.catalog2.photo}}" alt="slide">
                        </figure>
                        <div class="chats-message__content">
                            <p class="chats-message__paragraph">Название объявления:</p>
                            <p class="chats-message__paragraph chats-message__paragraph_title">{{current_chat.catalog2.title}}</p>
                        </div>
                        <div class="chats-message__info">
                            <span class="chats-message__time">{{el.created_at|date:"H:i"}}</span>
                            <svg><use href="#readed"></use></svg>
                        </div>
                    </div>
                </div>
                {% for el in messages %}
                    {% if el.user.id == user.id %}
                        <div class="chats-message chats-message_my">
                            <div class="chats-message__body">
                                <div class="chats-message__content">
                                    <p class="chats-message__paragraph">{{el.text}}</p>
                                </div>
                                <div class="chats-message__info">
                                    <span class="chats-message__time">{{el.created_at|date:"H:i"}}</span>
                                    <svg><use href="#readed"></use></svg>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="chats-message">
                            <figure class="chats-message__avatar">
                                <img src="/media/{{el.user.photo}}" alt="фото">
                            </figure>
                            <div class="chats-message__body">
                                <div class="chats-message__content">
                                    <p class="chats-message__name">{{el.user.name}}</p>
                                    <p class="chats-message__paragraph">{{el.text}}</p>
                                </div>
                                <div class="chats-message__info">
                                    <span class="chats-message__time">{{el.created_at|date:"H:i"}}</span>
                                    <svg><use href="#readed"></use></svg>
                                </div>
                            </div>
                        </div>
                    {% endif%}
                {% endfor %}
            </div>
            <form class="chats-new-message" method="post">
                {% csrf_token %}
                {{form_message.user.as_hidden}}
                {{form_message.chat.as_hidden}}
                <input name="message_form" type="hidden" value=true>
                <input name="create_new_chat" type="hidden">
                <div class="chats-new-message__input-container">
                    <span class="chats-new-message__input">
                        {{form_message.text}}
                    </span>
                <!--
                    <label class="chats-new-message__attach" for="attach-file">
                        <svg><use href="#attach"></use></svg>
                        <input id="attach-file" type="file" style="display: none;">
                    </label>
                -->
                </div>
                <label class="chats-new-message__submit" for="submit">
                    <svg><use href="#send"></use></svg>
                    <input id="submit" type="submit" style="display: none;">
                </label>
                <!--
                <label class="chats-new-message__voice" for="voice-message">
                    <svg><use href="#voice"></use></svg>
                    <input id="voice-message" type="text" style="display: none;">
                </label>
                -->
            </form>
        </section>
        {% endif%}
    </div>
</main>
{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
{% endblock %}
