{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/detail-group.css' %}">
{% endblock %}

{% block title %} Каталог товаров {% endblock %}

{% block content %}
<main class="page">
    <section class="product">
    <div class="container">
        <div class="product-header">
          <div class="product-header__image">
            <img src="/media/{{detail_group.photo}}" alt="slide">
          </div>
          <p class="product-header__name">{{detail_group.title}}</p>
          <div class="product-header__info">
            <div class="product-header__text">
            </div>
          </div>
        </div>
        <div class="product-about">
          <div class="product-about__block">
            <div class="product-about__title">
              <h3>Участники <span>124</span></h3>
            </div>
            <div class="product-about__sellers">
              <div class="product-about__seller product-seller">
                <p class="product-seller__name">Ахтямов</p>
                <figure class="product-seller__image">
                  <img src="{% static 'fastbarterApp/img/seller.png' %}" alt="slide">
                </figure>
              </div>
              <div class="product-about__seller product-seller">
                <p class="product-seller__name">Ахтямов</p>
                <figure class="product-seller__image">
                  <img src="{% static 'fastbarterApp/img/seller.png' %}" alt="slide">
                </figure>
              </div>
              <div class="product-about__seller product-seller">
                <p class="product-seller__name">Иван</p>
                <figure class="product-seller__image">
                  <img src="{% static 'fastbarterApp/img/seller.png' %}" alt="slide">
                </figure>
              </div>
              <div class="product-about__seller product-seller">
                <p class="product-seller__name">Ахтямов</p>
                <figure class="product-seller__image">
                  <img src="{% static 'fastbarterApp/img/seller.png' %}" alt="slide">
                </figure>
              </div>
              <div class="product-about__seller product-seller">
                <p class="product-seller__name">Ахтямов</p>
                <figure class="product-seller__image">
                  <img src="{% static 'fastbarterApp/img/seller.png' %}" alt="slide">
                </figure>
              </div>
              <div class="product-about__seller product-seller">
                <p class="product-seller__name">Ахтямов</p>
                <figure class="product-seller__image">
                  <img src="{% static 'fastbarterApp/img/seller.png' %}" alt="slide">
                </figure>
              </div>
              <div class="product-about__seller product-seller">
                <p class="product-seller__name">Ахтямов</p>
                <figure class="product-seller__image">
                  <img src="{% static 'fastbarterApp/img/seller.png' %}" alt="slide">
                </figure>
              </div>
              <div class="product-about__seller product-seller">
                <p class="product-seller__name">Ахтямов</p>
                <figure class="product-seller__image">
                  <img src="{% static 'fastbarterApp/img/seller.png' %}" alt="slide">
                </figure>
              </div>
            </div>
          </div>
          <div class="product-about__exchange">
            <div class="product-about__price">
</p>
            </div>
            <div class="product-about__wish">
              <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандар
</p>
              <p></p>
            </div>
            <div class="product-about__btns">
              <a href="#." class="product-about__btn product-about__btn_leave">Покинуть группу</a>
              <a href="#." class="product-about__btn">Перейти в чат</a>
            </div>
          </div>
        </div>
    </div>
    </section>
    <h3 class="product-content__title">Записи сообщества</h3>
    <section class="product">
    <div class="container">
        <div class="product-content">

          <div class="article">
            <div class="article-header">
              <figure class="article-header__image">
                <img src="{% static 'fastbarterApp/img/seller.png' %}" alt="slide">
              </figure>
              <div class="article-header__text">
                <h3>Нумизматы</h3>
                <p>Сегодня 13:50</p>
              </div>
            </div>
            <p class="product-content__paragraph">{{detail_group.short_desc | safe}}</p>
            <figure class="product-content__image">
              <img src="{% static 'fastbarterApp/img/slide1.png' %}" alt="slide">
            </figure>
          </div>
          <div class="article">
            <div class="article-header">
              <figure class="article-header__image">
                <img src="{% static 'fastbarterApp/img/seller.png' %}" alt="slide">
              </figure>
              <div class="article-header__text">
                <h3>Нумизматы</h3>
                <p>Сегодня 13:50</p>
              </div>
            </div>
            <p class="product-content__paragraph">{{detail_group.short_desc | safe}}</p>
            <figure class="product-content__image">
              <img src="{% static 'fastbarterApp/img/slide2.jpg' %}" alt="slide">
            </figure>
          </div>
        </div>
    </div>
    </section>
</main>
{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
    <script type="module" src="{% static 'fastbarterApp/js/main.js' %}"></script>
{% endblock %}
