{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/favorite.css' %}">
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/navigation.css' %}">
{% endblock %}

{% block title %} Избранное {% endblock %}

{% block content %}
<main class="page">
    <div class="navigation"><p>
        <a href="{% url 'catalog' %}">Главная</a>
        <span>&nbsp;>&nbsp;</span>
        <a href="{% url 'favorite' %}">Избранное</a>
    </p></div>
    <section class="catalog">
    <div class="container">
        <div class="catalog__toolbar">
            <h1 class="catalog__title">Избранное</h1>
        </div>
        <div class="catalog__products">
            {% for el in favorite %}
                <div class="catalog-product" data-id="{{el.catalog.id}}">
                    {% if el.catalog.pk %}
                        <a href="{% url 'detail_catalog' el.catalog.pk %}">
                    {% else %}
                        <a href="{% url 'detail_catalog' el.pk %}">
                    {% endif %}
                        <img src="/media/{{el.catalog.photo}}" alt="Товар" class="catalog-product__image">
                    </a>
                    <div class="catalog-product__row">
                        <h6 class="catalog-product__title">{{el.catalog.title}}</h6>
                        <div class="catalog-product__info">
                            <p class="catalog-product__price"><span>≈</span>{{el.catalog.price}}₽</p>
                            <label for="submit-catalog-{{el.catalog.id}}">
                                <svg class="catalog-product__favorite catalog-product__favorite_active"><use href="#heart"></use></svg>
                            </label>
                            <form method="post" action="">
                                {% csrf_token %}
                                <input type="text" id="remove-favorite" name="remove_favorite" />
                                {{form.catalog}}
                                <input id="submit-catalog-{{el.catalog.id}}" type="submit" />
                            </form>
                        </div>
                    </div>
                    <div class="catalog-product__row">
                        <p class="catalog-product__desc">{{el.catalog.short_desc | safe }}</p>
                        {% if el.catalog.pk %}
                            <a href="{% url 'detail_catalog' el.catalog.pk %}" class="catalog-product__link">Обменять</a>
                        {% else %}
                            <a href="{% url 'detail_catalog' el.pk %}" class="catalog-product__link">Обменять</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </section>
</main>
{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
    <script type="module" src="{% static 'fastbarterApp/js/catalog.js' %}"></script>
{% endblock %}