{% load static %}

<header class="header">
  <div class="container">
    <a class="header__logo" href="/catalog">
      <svg width="84" height="67">
        <use href="#logo"></use>
      </svg>
    </a>
    <div class="menu-container">
      <menu class="header__menu menu menu_desktop">
        <a href="{% url 'new-product' %}" class="menu__btn-announce">
            <svg><use href="#announcement"></use></svg>
            <p class="menu__text">Разместить объявление</p>
        </a>
        <ul>
          <li>
            <a href="{% url 'new-groups' %}">
              <svg><use href="#groups"></use></svg>
              <p class="menu__text">Сообщества</p>
            </a>
          </li>
          <li>
            <a href="{% url 'account' %}">
              <svg><use href="#account"></use></svg>
              <p class="menu__text">Аккаунт</p>
            </a>
          </li>
          <li>
            <a href="{% url 'notifications' %}">
              <svg><use href="#notifications"></use></svg>
              <p class="menu__text">Уведомления</p>
            </a>
          </li>
          <li>
            <a href="{% url 'chats' %}">
              <svg><use href="#chats"></use></svg>
              <p class="menu__text">Чаты</p>
            </a>
          </li>
          <li>
            <a href="{% url 'favorite' %}">
              <svg><use href="#heart"></use></svg>
              <p class="menu__text">Избранное</p>
            </a>
          </li>
          <li>
        </ul>
      </menu>
    </div>
    <a class="header__support" href="/#contacts">
      <svg width="40" height="40">
        <use href="#support"></use>
      </svg>
      <p>Поддержка</p>
    </a>
    <div class="header__burger">
      <span></span>
    </div>
  </div>
</header>
<section class="popup popup-auth">
    <div class="container">
      <div class="popup-auth__window">
        <div class="popup-auth__header">
          <label class="popup-auth__auth-btn" for="auth">
            <input name="auth-radio" id="auth" type="radio" style="display: none;" checked>
            <span>Вход</span>
          </label>
          <span>/</span>
          <label class="popup-auth__register-btn" for="register">
            <input name="auth-radio" id="register" type="radio" style="display: none;">
            <span>Регистрация</span>
          </label>
          <div class="popup__close popup__cross">
            <svg><use href="#close"></use></svg>
          </div>
        </div>
        <form class="popup-auth__form popup-auth__form_auth popup-auth__form_active">
          <input class="popup-auth__input" type="email" placeholder="Эл. почта">
          <input class="popup-auth__input" type="password" placeholder="Пароль">
          <input class="popup-auth__submit" type="submit" value="Войти">
          <p class="popup-auth__note">При авторизации вы соглашаетесь с <a href="#.">условиями использования</a> FastBarter и <a href="#.">политикой обработки данных</a>.</p>
        </form>
        <form class="popup-auth__form popup-auth__form_register">
          <input class="popup-auth__input" type="email" placeholder="Эл. почта">
          <input class="popup-auth__input" type="password" placeholder="Пароль">
          <input class="popup-auth__input" type="password" placeholder="Подтвердите пароль">
          <input class="popup-auth__submit" type="submit" value="Зарегистрироваться">
          <p class="popup-auth__note">При регистрации вы соглашаетесь с <a href="#.">условиями использования</a> FastBarter и <a href="#.">политикой обработки данных</a>.</p>
        </form>
      </div>
    </div>
</section>
<section class="popup popup-deals">
    <div class="container">
      <div class="popup-deals__window">
        <div class="popup-deals__header">
          <h3 class="popup-deals__title">Обмен товаров</h3>
          <div class="popup__close popup__cross">
            <svg><use href="#close"></use></svg>
          </div>
        </div>
        <div class="popup-deals__body">
        <div class="my-announcements">
          <div class="my-announcement">
              <a href="{% url 'new-product' %}">
                  <img src="{% static 'fastbarterApp/img/som.webp' %}" alt="Товар" class="my-announcement__image">
              </a>
              <div class="my-announcement__row">
                  <h6 class="my-announcement__title">Говорящий сом</h6>
                  <div class="my-announcement__info">
                      <p class="my-announcement__price"><span>≈</span>100₽</p>
                  </div>
              </div>
              <div class="my-announcement__row">
                  <p class="my-announcement__desc">Говорящий сом для большого аквариума</p>
              </div>
          </div>
           <img class="arrows" src="{% static 'fastbarterApp/img/arrows.png' %}">

            <div class="my-announcement">
              <a href="{% url 'new-product' %}">
                  <img src="{% static 'fastbarterApp/img/sailentblock.webp' %}" alt="Товар" class="my-announcement__image">
              </a>
              <div class="my-announcement__row">
                  <h6 class="my-announcement__title">Сайлентблок передней балки</h6>
                  <div class="my-announcement__info">
                      <p class="my-announcement__price"><span>≈</span>614₽</p>
                  </div>
              </div>
              <div class="my-announcement__row">
                  <p class="my-announcement__desc">Бренд: АSVА, aртикул: 0501GHFС2, Сайлентблок пeрeдней балки.</p>
              </div>
          </div>
        </div>
        <div class="popup-deals__footer">
          <button class="popup__close popup-deals__cancel">Отмена</button>
          <input class="popup-deals__submit" type="submit" value="Подтвердить обмен">
        </div>
      </div>
    </div>
</section>
