{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/help.css' %}">
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/navigation.css' %}">
{% endblock %}

{% block title %} Помощь {% endblock %}

{% block content %}
<main class="page">
  <div class="navigation"><p>
    <a href="{% url 'main' %}">Главная</a>
    <span>&nbsp;>&nbsp;</span>
    <a href="{% url 'help' %}">Помощь</a>
</p></div>
    <section class="help">
        <div class="container">
          <h2 class="help__title">Часто задаваемые вопросы</h2>
          <div class="help__content">
            <details class="question">
              <summary class="question__caption">Как обменять то, что никому не нужно?</summary>
              <p class="question__answer">Никак</p>
            </details>
            <details class="question">
              <summary class="question__caption">Есть ли у вас доставка?</summary>
              <p class="question__answer">Пока доставки в сервисе не предусмотрено, но Федорова сказала, что доставка нужна</p>
            </details>
            <details class="question">
              <summary class="question__caption">Можно ли у вас создавать группы по интересам?</summary>
              <p class="question__answer">Да, группы по интересам создавать можно. В них есть возможность выкладывать свои объявления, а также делиться новстями</p>
            </details>
          </div>
        </div>
    </section>
</main>
{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
{% endblock %}