{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/new-product.css' %}">
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/navigation.css' %}">
{% endblock %}

{% block title %} Добавление товара {% endblock %}

{% block content %}
<main class="page">
  <div class="navigation"><p>
    <a href="{% url 'catalog' %}">Главная</a>
    <span>&nbsp;>&nbsp;</span>
    <a href="{% url 'new-product' %}">Добавление товара</a>
  </p></div>
    <section class="new-product">
    <div class="container">
      <form method="post" enctype="multipart/form-data" action="" class="new-product__form">
        {% csrf_token %}
        {% if success %}
          <p class="new-product__row new-product__message">Данные отправлены на обработку. После проверки объявление будет опубликовано.</p>
        {% endif %}
        <div class="new-product__row new-product__name">
          <label class="new-product__title" for="name">Название :</label>
          <span class="new-product__input">{{form.title}}</span>
        </div>
        <div class="new-product__row new-product__price">
          <label class="new-product__title" for="price">Примерная стоимость :</label>
          <span class="new-product__input">{{form.price}}</span>
          <!--
          <label class="new-product__checkbox" for="free">
              <input id="free" type="checkbox" value="">
              <span>Даром</span>
          </label>
          -->
        </div>
        <div class="new-product__row new-product__category">
          <label class="new-product__title" for="category">Категория товара :</label>
          <span class="new-product__select">{{form.category}}</span>
        </div>
        <div class="new-product__row new-product__images">
          <p class="new-product__title">Фотографии товара :</p>
          <label class="new-product__add-image" for="id_photo">
            <svg><use href="#plus"></use></svg>
            <span>Добавить картинку</span>
          </label>
          {{form.photo}}
        </div>
        <div class="new-product__row new-product__category">
          <label class="new-product__title" for="category">Категория желаемого товара :</label>
          <span class="new-product__select">{{form.category_exchange}}</span>
        </div>
        <div class="new-product__row new-product__location">
          <label class="new-product__title" for="location">Город :</label>
          <select class="new-product__input" name="location" id="location">
            <option value="">Казань</option>
            <option value="">Москва</option>
            <option value="">Санкт-Петербург</option>
            <option value="">Самара</option>
            <option value="">Екатеринбург</option>
            <option value="">Краснодар</option>
          </select> 
        </div>
        <div class="new-product__row new-product__desc">
          <label class="new-product__title" for="desc">Описание товара:</label>
          <span class="new-product__input">{{form.short_desc}}</span>
        </div>
        <div class="new-product__row new-product__submit">
          <input class="new-product__submit-btn" type="submit" name="submit" value="Опубликовать">
        </div>
      </form>
    </div>
    </section>
</main>
{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
    <script type="module" src="{% static 'fastbarterApp/js/main.js' %}"></script>
{% endblock %}