{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/new-groups.css' %}">
{% endblock %}

{% block title %} Каталог товаров {% endblock %}

{% block content %}
<div class="backdrop"></div>
<main class="page">
    <section class="catalog">
    <div class="container">
        <div class="catalog__toolbar">
            <div class="catalog__sort catalog-sort">
                <svg class="catalog-sort__icon"><use href="#sort"></use></svg>
                <p class="catalog-sort__title">Сортировка</p>
                <button class="catalog-sort__btn catalog-sort__btn_default">По умолчанию</button>
                <button class="catalog-sort__btn catalog-sort__btn_price">
                    <svg><use href="#sort-price"></use></svg>
                    <span>Число участников</span>
                    <svg><use href="#sort-price"></use></svg>
                </button>
            </div>
            <div class="catalog__search search catalog-search">
                <button class="search__send">
                <svg>
                    <use href="#search"></use>
                </svg>
                </button><input type="text" class="search__input" placeholder="Поиск сообществ...">
            </div>
            <div class="catalog__filter catalog-filter">
            </div>
        </div>
        <p class="catalog__found">Найдено 23.350 сообществ</p>

        <div class="catalog__products">
            <style>

</style>

            {% for el in groups %}
                <div class="catalog-product">
                    <a href="{% url 'detail_group' el.pk %}">
                        <img src="/media/{{el.photo}}" alt="Товар" class="catalog-product__image">
                    </a>
                    <div class="catalog-product__row">
                        <div class="catalog-product__header">
                          <h6 class="catalog-product__title">{{el.title}}</h6>
                          <p class="catalog-product__participants"><span>{{el.members_count}}</p>
                        </div>
                        <div class="catalog-product__info">
                          <p class="catalog-product__desc">{{el.short_desc | safe }}</p>
                        </div>
                    </div>
                    <div class="catalog-product__row">
<div class="dropdown">
 <a href="#"><svg><use href="#more"></use></svg></a>
    <div class="dropdown-content">
    <a href="#">Пожаловаться</a>
  </div> </div>

<style>
.backdrop {
    z-index:10000;
    position: absolute;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-height:30px;
  min-width:145px;
  z-index: 1;
  border-radius: 12px;
border: 2px solid #BA3B00;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dropdown-content a {
  padding: 12px 18px 12px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content:hover {background-color: #eee}

.dropdown:hover .dropdown-content {
  display: block;
}

</style>
                        <a href="{% url 'detail_group' el.pk %}" class="catalog-product__link">Вступить</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </section>
    <section class="pagination-button">
        <div class="container">
            <button class="pagination-button__btn">Показать  еще</button>
        </div>
    </section>
    <section class="popup popup-filters">
        <div class="container">
            <div class="popup-filters__header">
                <div class="popup-filters__reset">Сбросить фильтры</div>
                <div class="popup-filters__search search popup-filters-search">
                    <button class="search__send">
                    <svg>
                        <use href="#search"></use>
                    </svg>
                    </button><input type="text" class="search__input" placeholder="Поиск товаров...">
                </div>
                <input type="submit" class="popup-filters__submit popup__close" value="Применить фильтры">
            </div>
            <div class="popup-filters__fields">
                <p class="popup-filters__subtitle">Примерная стоимость</p>
                <div class="popup-filters-prices">
                    <input type="text" placeholder="От ...">
                    <input type="text" placeholder="До ...">
                    <label class="popup-filters__checkbox" for="free">
                        <input id="free" type="checkbox" value="">
                        <span>Даром</span>
                    </label>
                    <div class="popup-filters__location">
                        <svg><use href="#location"></use></svg>
                        <p>г. Казань</p>
                    </div>
                </div>
                <div class="popup-filters__checkbox">
                </div>
            </div>
            <div class="popup-filters-categories">
                <div class="popup-filters-categories__menu">
                    <p class="popup-filters__subtitle">Категория товара</p>
                    <ul class="popup-filters-categories__list">
                        <li>Транспорт</li>
                        <li>Электроника</li>
                        <li>Хобби и отдых</li>
                        <li>Запчасти и аксессуары</li>
                        <li>Личные вещи</li>
                        <li>Для дома и дачи</li>
                    </ul>
                </div>
                <div class="popup-filters-categories__blocks">
                    <ul class="popup-filters-categories__block">
                        <li>Телефоны</li>
                        <li>Мобильные телефоны</li>
                        <li>Аксессуары</li>
                        <li>Рации</li>
                        <li>Стационарные телефоны</li>
                    </ul>
                    <ul class="popup-filters-categories__block">
                        <li>Ноутбуки</li>
                    </ul>
                    <ul class="popup-filters-categories__block">
                        <li>Телефоны</li>
                        <li>Мобильные телефоны</li>
                        <li>Аксессуары</li>
                        <li>Рации</li>
                        <li>Стационарные телефоны</li>
                    </ul>
                    <ul class="popup-filters-categories__block">
                        <li>Телефоны</li>
                        <li>Мобильные телефоны</li>
                        <li>Аксессуары</li>
                        <li>Рации</li>
                        <li>Стационарные телефоны</li>
                    </ul>
                    <ul class="popup-filters-categories__block">
                        <li>Телефоны</li>
                        <li>Мобильные телефоны</li>
                        <li>Аксессуары</li>
                        <li>Рации</li>
                        <li>Стационарные телефоны</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</main>


{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
    <script type="module" src="{% static 'fastbarterApp/js/main.js' %}"></script>
    <script type="module" src="{% static 'fastbarterApp/js/catalog.js' %}"></script>
{% endblock %}
