{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/reviews.css' %}">
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/navigation.css' %}">
{% endblock %}

{% block title %} Каталог товаров {% endblock %}

{% block content %}
<main class="page">
  <div class="navigation"><p>
    <a href="{% url 'catalog' %}">Главная</a>
    <span>&nbsp;>&nbsp;</span>
    <a href="{% url 'reviews' %}">Отзывы</a>
  </p></div>
    <div class="container container_reviews">
      <section class="reviews">
        <div class="review review_new">
          <div class="review__header review-header">
            <div class="reviewer">
              <figure class="reviewer__image">
                <img src="/media/{{user.photo}}">
              </figure>
              <div class="reviewer__info">
                <h4 class="reviewer__name">{{user.name}}</h4>
              </div>
            </div>
            <div class="review-header__stars">
              <svg class="review-header__star"><use href="#star"></use></svg>
              <svg class="review-header__star"><use href="#star"></use></svg>
              <svg class="review-header__star"><use href="#star"></use></svg>
              <svg class="review-header__star"><use href="#star"></use></svg>
              <svg class="review-header__star"><use href="#star"></use></svg>
            </div>
          </div>
          <h3 class="review__title">{{detail_catalog}}</h3>
          <form method="post" enctype="multipart/form-data" action="" class="review-form">
            {% csrf_token %}
            <div class="review-form__textarea">
              {{form.review}}
              <label for="id_file">
                <svg><use href="#attach"></use></svg>
              </label>
            </div>
            <div style="display: none;">
              {{form.file}}
              {{form.rating}}
              {{form.user.as_hidden}}
              {{form.catalog.as_hidden}}
              <input name="submit-catalog-review" />
            </div>
            <label class="review-form__submit-btn" for="submit">
              <span>Отправить</span>
              <svg><use href="#send"></use></svg>
            </label>
            <input id="submit" type="submit" value="">
          </form>
        </div>
        <div class="review">
          <div class="review__header review-header">
            <div class="reviewer">
              <figure class="reviewer__image">
                <img src="{% static 'fastbarterApp/img/slide1.jpg' %}">
              </figure>
              <div class="reviewer__info">
                <h4 class="reviewer__name">Шавалиев Альберт</h4>
                <p class="reviewer__date">Сегодня 13:00</p>
              </div>
            </div>
            <div class="review-header__stars">
              <svg class="review-header__star"><use href="#star"></use></svg>
              <svg class="review-header__star"><use href="#star"></use></svg>
              <svg class="review-header__star"><use href="#star"></use></svg>
              <svg class="review-header__star"><use href="#star"></use></svg>
              <svg class="review-header__star"><use href="#star"></use></svg>
            </div>
          </div>
          <div class="review__content">
            <div class="review__text">
              <h3 class="review__title">Airpods</h3>
              <p class="review__desc">Обмен прошел хорошо. Аирподсы не фальшивые, человек почтительный.</p>
            </div>
            <div class="review__media">
              <video controls>
                <source src="{% static 'fastbarterApp/img/video-review.mp4' %}" type="video/mp4">
                Ваш браузер не поддреживает данный формат видео
              </video>
            </div>
          </div>
        </div>
        <div class="review">
          <div class="review__header review-header">
            <div class="reviewer">
              <figure class="reviewer__image">
                <img src="{% static 'fastbarterApp/img/slide1.jpg' %}">
              </figure>
              <div class="reviewer__info">
                <h4 class="reviewer__name">Шавалиев Альберт</h4>
                <p class="reviewer__date">Вчера в 18:00</p>
              </div>
            </div>
            <div class="review-header__stars">
              <svg class="review-header__star"><use href="#star"></use></svg>
              <svg class="review-header__star"><use href="#star"></use></svg>
              <svg class="review-header__star"><use href="#star"></use></svg>
              <svg class="review-header__star"><use href="#star"></use></svg>
              <svg class="review-header__star"><use href="#star"></use></svg>
            </div>
          </div>
          <div class="review__content">
            <div class="review__text">
              <h3 class="review__title">Airpods</h3>
              <p class="review__desc">Обмен прошел хорошо. Аирподсы не фальшивые, человек почтительный.</p>
            </div>
            <div class="review__media">
            </div>
          </div>
        </div>
        <section class="pagination-button">
            <div class="container">
                <button class="pagination-button__btn">Показать  еще</button>
            </div>
        </section>
      </section>
      <aside class="seller">
        <figure class="seller__image">
          <img src="/media/{{detail_catalog.user.photo}}">
          <figcaption class="seller__name">{{detail_catalog.user.name}}</figcaption>
        </figure>
        <div class="seller__reviews">
          <div class="seller__stars">
            <svg class="review-header__star"><use href="#star"></use></svg>
            <svg class="review-header__star"><use href="#star"></use></svg>
            <svg class="review-header__star"><use href="#star"></use></svg>
            <svg class="review-header__star"><use href="#star"></use></svg>
            <svg class="review-header__star"><use href="#star"></use></svg>
          </div>
          <p class="seller__reviews-score">4.1</p>
        </div>
        <p class="seller__registered">Зарегестрирован: 18.09.2023</p>
      </aside>
    </div>
</main>
{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
    <script type="module" src="{% static 'fastbarterApp/js/main.js' %}"></script>
    <script type="module" src="{% static 'fastbarterApp/js/reviews.js' %}"></script>
{% endblock %}
