{% load static %}

      <button class="open-menu-btn" type="submit" onclick="open_menu()" id="open-menu">
<svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#ffffff;} </style> <g> <circle class="st0" cx="48" cy="64" r="48"></circle> <rect x="160" y="16" class="st0" width="352" height="96"></rect> <circle class="st0" cx="48" cy="256" r="48"></circle> <rect x="160" y="208" class="st0" width="352" height="96"></rect> <circle class="st0" cx="48" cy="448" r="48"></circle> <rect x="160" y="400" class="st0" width="352" height="96"></rect> </g> </g></svg>      </button>
      <button style="display:none;" class="open-menu-btn" type="submit" onclick="close_menu()" id="close-menu">
<svg fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M18.8,16l5.5-5.5c0.8-0.8,0.8-2,0-2.8l0,0C24,7.3,23.5,7,23,7c-0.5,0-1,0.2-1.4,0.6L16,13.2l-5.5-5.5 c-0.8-0.8-2.1-0.8-2.8,0C7.3,8,7,8.5,7,9.1s0.2,1,0.6,1.4l5.5,5.5l-5.5,5.5C7.3,21.9,7,22.4,7,23c0,0.5,0.2,1,0.6,1.4 C8,24.8,8.5,25,9,25c0.5,0,1-0.2,1.4-0.6l5.5-5.5l5.5,5.5c0.8,0.8,2.1,0.8,2.8,0c0.8-0.8,0.8-2.1,0-2.8L18.8,16z"></path> </g></svg> </button>
      <script>
        function open_menu() {
            document.getElementById('account-menu').style.display='block';
            document.getElementById('open-menu').style.display='none';
            document.getElementById('close-menu').style.display='block';
        }
        function close_menu() {
            document.getElementById('account-menu').style.display='none';
            document.getElementById('open-menu').style.display='block';
            document.getElementById('close-menu').style.display='none';
        }
      </script>
      <style>
        .close-btn svg{

        }
      </style>

<aside class="account-menu" id="account-menu">
  <div class="account-user">

    <figure class="account-user__image">
      {% if user.photo %}
          <img src="/media/{{user.photo}}">
      {% else %}
          <img src="{% static 'fastbarterApp/img/slide2.jpg' %}">
      {% endif %}
      <figcaption class="account-user__name">{% if user.name %}{{ user.name }}{% else %}Новый <br> пользователь{% endif %}</figcaption>
    </figure>
    <a href="{% url 'reviews' %}" class="account-user__reviews">
      <div class="account-user__stars">
        <svg><use href="#star"></use></svg>
        <svg><use href="#star"></use></svg>
        <svg><use href="#star"></use></svg>
        <svg><use href="#star"></use></svg>
        <svg><use href="#star"></use></svg>
      </div>
      <p class="account-user__reviews-score">4.1</p>
    </a>
    <p class="account-user__registered">Зарегестрирован: 18.11.2023</p>
    <a href="{% url 'logout' %}" class="account-user__exit" style="display: block;">Выйти из акаунта</p>
  </div>
  <nav class="account-nav">
    <a href="{% url 'account' %}" class="account-nav__item">
        <svg><use href="#my-announcements"></use></svg>
        <span>Мои объявления</span>
    </a>
    <a href="{% url 'deals' %}" class="account-nav__item">
        <svg><use href="#deals"></use></svg>
        <span>Сделки</span>
    </a>
    <a href="{% url 'settings' %}" class="account-nav__item">
        <svg><use href="#settings"></use></svg>
        <span>Настройки</span>
    </a>
    <a href="{% url 'services' %}" class="account-nav__item">
        <svg><use href="#fastbarter-plus"></use></svg>
        <span>FastBarter+</span>
    </a>
    <a href="{% url 'edit-profile' %}" class="account-nav__item">
        <svg><use href="#user-edit"></use></svg>
        <span>Редактировать профиль</span>
    </a>
    <a href="{% url 'my-reviews' %}" class="account-nav__item">
        <svg><use href="#my-reviews"></use></svg>
        <span>Мои отзывы</span>
    </a>
    <a href="{% url 'analytics' %}" class="account-nav__item">
        <svg><use href="#analytics"></use></svg>
        <span>Аналитика</span>
    </a>
  </nav>
</aside>
