{% load static %}

<section class="chats-window">
	<div class="chats-window__header">
		<figure class="chats-window__image">
			<img src="/media/{{current_group_chat.photo}}" alt="slide">
		</figure>
		<div class="chats-window__info">
			<div class="chats-window__menu">
				<h1 class="chats-window__title">{{current_group_chat.title}}</h1>
			</div>
			<!--  <p class="chats-window__members">129 участников</p> -->
		</div>
		<div class="chats-window__btns">
			<!--<svg><use href="#mute-chat"></use></svg>
			<svg><use href="#settings"></use></svg>-->
		</div>
	</div>
	<div class="chats-window__body">
		{% for el in messages %}
			{% if el.user.id == user.id %}
				<div class="chats-message chats-message_my">
					<div class="chats-message__body">
						<div class="chats-message__content">
							<p class="chats-message__paragraph">{{el.text}}</p>
							<div class="chats-message__media">
								{{ el.mediaFileHTML | safe }}
							</div>
						</div>
						<div class="chats-message__info">
							<span class="chats-message__time">{{el.created_at|date:"H:i"}}</span>
							<svg><use href="#readed"></use></svg>
						</div>
					</div>
				</div>
			{% else %}
				<div class="chats-message">
					<figure class="chats-message__avatar">
						<img src="/media/{{el.user.photo}}" alt="фото">
					</figure>
					<div class="chats-message__body">
						<div class="chats-message__content">
							<p class="chats-message__name">{{el.user.name}}</p>
							<p class="chats-message__paragraph">{{el.text}}</p>
						</div>
						<div class="chats-message__info">
							<span class="chats-message__time">{{el.created_at|date:"H:i"}}</span>
							<svg><use href="#readed"></use></svg>
						</div>
					</div>
				</div>
			{% endif%}
		{% endfor %}
	</div>
	<form class="chats-new-message" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{form_group_message.user.as_hidden}}
		{{form_group_message.group.as_hidden}}
		<input name="query_type" value="group_message_form" type="hidden">
		<div class="chats-new-message__input-container">
			<span class="chats-new-message__input">
				{{form_group_message.text}}
			</span>
			<label class="chats-new-message__attach" for="id_file">
				<svg><use href="#attach"></use></svg>
				<div style="display: none;">{{form_group_message.file}}</div>
			</label>
		</div>
		<label class="chats-new-message__submit" for="submit">
			<svg><use href="#send"></use></svg>
			<input id="submit" type="submit" style="display: none;">
		</label>
		<!--
		<label class="chats-new-message__voice" for="voice-message">
			<svg><use href="#voice"></use></svg>
			<input id="voice-message" type="text" style="display: none;">
		</label>
		-->
	</form>
</section>