{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/catalog.css' %}">
{% endblock %}

{% block title %} Каталог товаров {% endblock %}

{% block content %}
<main class="page">
    <section class="catalog">
    <div class="container">
        <div class="catalog__tools">
            <input type="search" class="catalog__search" placeholder="Поиск товаров...">
        </div>
        <div class="catalog__products">
            <div class="product">
                <img src="{% static 'fastbarterApp/img/product1.png' %}" alt="Товар" class="product__image">
                <div class="product__row">
                    <h6 class="product__title">Толстовка lookonline</h6>
                    <p class="product__price">~6500₽</p>
                </div>
                <div class="product__row">
                    <p class="product__desc">Была надета пару раз. One size</p>
                    <a href="#" class="product__link">Обменять</a>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'fastbarterApp/img/product1.png' %}" alt="Товар" class="product__image">
                <div class="product__row">
                    <h6 class="product__title">Толстовка lookonline</h6>
                    <p class="product__price">~6500₽</p>
                </div>
                <div class="product__row">
                    <p class="product__desc">Была надета пару раз. One size</p>
                    <a href="#" class="product__link">Обменять</a>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'fastbarterApp/img/product1.png' %}" alt="Товар" class="product__image">
                <div class="product__row">
                    <h6 class="product__title">Толстовка lookonline</h6>
                    <p class="product__price">~6500₽</p>
                </div>
                <div class="product__row">
                    <p class="product__desc">Была надета пару раз. One size</p>
                    <a href="#" class="product__link">Обменять</a>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'fastbarterApp/img/product1.png' %}" alt="Товар" class="product__image">
                <div class="product__row">
                    <h6 class="product__title">Толстовка lookonline</h6>
                    <p class="product__price">~6500₽</p>
                </div>
                <div class="product__row">
                    <p class="product__desc">Была надета пару раз. One size</p>
                    <a href="#" class="product__link">Обменять</a>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'fastbarterApp/img/product1.png' %}" alt="Товар" class="product__image">
                <div class="product__row">
                    <h6 class="product__title">Толстовка lookonline</h6>
                    <p class="product__price">~6500₽</p>
                </div>
                <div class="product__row">
                    <p class="product__desc">Была надета пару раз. One size</p>
                    <a href="#" class="product__link">Обменять</a>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'fastbarterApp/img/product1.png' %}" alt="Товар" class="product__image">
                <div class="product__row">
                    <h6 class="product__title">Толстовка lookonline</h6>
                    <p class="product__price">~6500₽</p>
                </div>
                <div class="product__row">
                    <p class="product__desc">Была надета пару раз. One size</p>
                    <a href="#" class="product__link">Обменять</a>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'fastbarterApp/img/product1.png' %}" alt="Товар" class="product__image">
                <div class="product__row">
                    <h6 class="product__title">Толстовка lookonline</h6>
                    <p class="product__price">~6500₽</p>
                </div>
                <div class="product__row">
                    <p class="product__desc">Была надета пару раз. One size</p>
                    <a href="#" class="product__link">Обменять</a>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'fastbarterApp/img/product1.png' %}" alt="Товар" class="product__image">
                <div class="product__row">
                    <h6 class="product__title">Толстовка lookonline</h6>
                    <p class="product__price">~6500₽</p>
                </div>
                <div class="product__row">
                    <p class="product__desc">Была надета пару раз. One size</p>
                    <a href="#" class="product__link">Обменять</a>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'fastbarterApp/img/product1.png' %}" alt="Товар" class="product__image">
                <div class="product__row">
                    <h6 class="product__title">Толстовка lookonline</h6>
                    <p class="product__price">~6500₽</p>
                </div>
                <div class="product__row">
                    <p class="product__desc">Была надета пару раз. One size</p>
                    <a href="#" class="product__link">Обменять</a>
                </div>
            </div>
        </div>
    </div>
    </section>
</main>
{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
{% endblock %}