/*Подключение шрифтов-----------------------------------------*/
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face { 
      font-family: $font_name;
      font-display: swap;
      src: url("./fonts/#{$file_name}.woff") format("woff"), url("./fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
    }
  }
  @include font("Roboto", "Roboto-Light", "300", "normal");
  @include font("Roboto", "Roboto-Regular", "400", "normal");
  @include font("Roboto", "Roboto-Bold", "700", "normal");
  @include font("Sansation", "SansationLight", "300", "normal");
  @include font("Sansation", "SansationRegular", "400", "normal");
  @include font("Sansation", "SansationBold", "700", "normal");
  
  @import "nullstyle.scss";
  @import "mixins.scss";
  
  /*Брейк поинты-----------------------------------------*/
  @media(max-width:1200px){
    .container{
      max-width:1030px;
    }
  }
  
  @media(max-width:1052px){
    .container{
      max-width:810px;
    }
  }
  
  @media(max-width:827px){
    .container{
      max-width:none;
    }
  }

  * {
    font-family: 'Sansation';
  }
  
  body {
    background-color: #DADADA;
    color: #0b0a0d;
  }

  /*Контейнер-----------------------------------------*/
  .container{
    padding:0 30px;
    margin:0 auto;
    @media(max-width:768px){
      padding: 0 15px;
    }
  }
  
  /*Обертка-----------------------------------------*/
  .wrapper{
    min-height:100%;
    overflow:hidden;  
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  }
  
  /*Шапка страницы-----------------------------------------*/
  @import "header.scss";
  
  /*Главный контент страницы-----------------------------------------*/
  .page{
    flex:1 1 auto;
  }
  
  /*Подвал страницы-----------------------------------------*/
  @import "footer.scss";