$small: 540px;
$medium: 720px;
$large: 960px;
$extralarge: 1140px;

// Медиа запросы для разных экранов
@mixin phone {
	@media (max-width: 576px) {
		@content;
    }
}

@mixin gap {
	@media (max-width: 768px) {
		@content;
    }
}

@mixin tablet {
	@media (max-width: 992px) {
		@content;
    }
}

@mixin desktop {
	@media ( max-width: 1200px) {
		@content;
    }
}

@mixin h1 {
	font-size: 30px;
}

@mixin h2 {
	font-size: 24px;
}

@mixin txt18 {
	font-size: 18px;
}

@mixin txt16 {
	font-size: 16px;
}