{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/deals.css' %}">
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/navigation.css' %}">
{% endblock %}

{% block title %} Сделки {% endblock %}

{% block content %}
<main class="page">
  <div class="navigation"><p>
    <a href="{% url 'catalog' %}">Главная</a>
    <span>&nbsp;>&nbsp;</span>
    <a href="{% url 'account' %}">Аккаунт</a>
    <span>&nbsp;>&nbsp;</span>
    <a href="{% url 'deals' %}">Сделки</a>
</p></div>
    <div class="container">
      {% include 'fastbarterApp/modules/account-menu.html' %}
      <section class="account">
        <h1 class="account__title">Сделки
        <button class="switch-button opened first" id="open_current" type="submit" onclick="open_2()">Текущие</button>
        <button class="switch-button closed last"  id="open_done" type="submit" onclick="open_()">Совершенные</button></h1>
        <div  class="done" id="done" style="display: none;">
        
        <script>
      function open_() {
      document.getElementById('done').style.display='block';
      document.getElementById('current').style.display='none';
      document.getElementById('open_done').classList.remove('closed');
      document.getElementById('open_done').classList.add('opened');
      document.getElementById('open_current').classList.add('closed');
      document.getElementById('open_current').classList.remove('opened');  }
      function open_2() {
      document.getElementById('current').style.display='block';
      document.getElementById('done').style.display='none'; 
      document.getElementById('open_current').classList.remove('closed');
      document.getElementById('open_current').classList.add('opened');
      document.getElementById('open_done').classList.add('closed');
      document.getElementById('open_done').classList.remove('opened');  }
      </script>
        {% for deal in finishedDeals1 %}
          <div class="deal">
            <div class="my-announcement">
                <a href="{{deal.catalog2.link}}">
                    <img src="/media/{{deal.catalog2.photo}}" alt="Товар" class="my-announcement__image">
                </a>
                <div class="my-announcement__row">
                    <h6 class="my-announcement__title">{{deal.catalog2.title}}</h6>
                    <div class="my-announcement__info">
                      <p class="my-announcement__price"><span>≈</span>{{deal.catalog2.price}}₽</p>
                    </div>
                </div>
                <div class="my-announcement__row">
                  <p class="my-announcement__desc">{{deal.catalog2.short_desc}}</p>
                </div>
            </div>
            <svg class="arrows"><use href="#exchange"></use></svg>
            <div class="my-announcement">
                <a href="{{deal.catalog.link}}">
                    <img src="/media/{{deal.catalog.photo}}" alt="Товар" class="my-announcement__image">
                </a>
                <div class="my-announcement__row">
                    <h6 class="my-announcement__title">{{deal.catalog.title}}</h6>
                    <div class="my-announcement__info">
                      <p class="my-announcement__price"><span>≈</span>{{deal.catalog.price}}₽</p>
                    </div>
                </div>
                <div class="my-announcement__row">
                  <p class="my-announcement__desc">{{deal.catalog.short_desc}}</p>
                </div>
            </div>
            <div class="seller">
              <figure class="seller__image">
                <figcaption class="seller__name">{{deal.catalog.user.name}}</figcaption>
                <img src="/media/{{deal.catalog.user.photo}}">
              </figure>
              <div class="seller__reviews">
                <div class="seller__reviews-row">
                  <div class="seller__stars">
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                  </div>
                  <p class="seller__reviews-score">4.1</p>
                </div>
                <p class="seller__reviews-count">Отзывов: 2</p>
              </div>
              <form method="post" action="{% url 'reviews' %}">
                  {% csrf_token %}
                  <input name="catalog" type="hidden" value="{{deal.catalog.id}}">
                  <input name="submit-new-review" type="hidden" />
                  <input id="submit-catalog-review" name="submit-catalog-review" type="submit" style="display: none;" />
              </form>
              <label for="submit-catalog-review" class="chat_link">Оставить отзыв</label>
            </div>
          </div>
        {% endfor %}
        {% for deal in finishedDeals2 %}
          <div class="deal">
            <div class="my-announcement">
                <a href="{{deal.catalog2.link}}">
                    <img src="/media/{{deal.catalog2.photo}}" alt="Товар" class="my-announcement__image">
                </a>
                <div class="my-announcement__row">
                    <h6 class="my-announcement__title">{{deal.catalog2.title}}</h6>
                    <div class="my-announcement__info">
                      <p class="my-announcement__price"><span>≈</span>{{deal.catalog2.price}}₽</p>
                    </div>
                </div>
                <div class="my-announcement__row">
                  <p class="my-announcement__desc">{{deal.catalog2.short_desc}}</p>
                </div>
            </div>
            <svg class="arrows"><use href="#exchange"></use></svg>
            <div class="my-announcement">
                <a href="{{deal.catalog.link}}">
                    <img src="/media/{{deal.catalog.photo}}" alt="Товар" class="my-announcement__image">
                </a>
                <div class="my-announcement__row">
                    <h6 class="my-announcement__title">{{deal.catalog.title}}</h6>
                    <div class="my-announcement__info">
                      <p class="my-announcement__price"><span>≈</span>{{deal.catalog.price}}₽</p>
                    </div>
                </div>
                <div class="my-announcement__row">
                  <p class="my-announcement__desc">{{deal.catalog.short_desc}}</p>
                </div>
            </div>
            <div class="seller">
              <figure class="seller__image">
                <figcaption class="seller__name">{{deal.catalog.user.name}}</figcaption>
                <img src="/media/{{deal.catalog.user.photo}}">
              </figure>
              <div class="seller__reviews">
                <div class="seller__reviews-row">
                  <div class="seller__stars">
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                  </div>
                  <p class="seller__reviews-score">4.1</p>
                </div>
                <p class="seller__reviews-count">Отзывов: 2</p>
              </div>
              <form method="post" action="{% url 'reviews' %}">
                  {% csrf_token %}
                  <input name="catalog" type="hidden" value="{{deal.catalog2.id}}">
                  <input name="submit-new-review" type="hidden" />
                  <input id="submit-catalog-review" name="submit-catalog-review" type="submit" style="display: none;" />
              </form>
              <label for="submit-catalog-review" class="chat_link">Оставить отзыв</label>
            </div>
          </div>
        {% endfor %}

        </div>
        <div class="current" id="current">
        {% for deal in currentDeals1 %}
          <div class="deal">
            <div class="my-announcement">
                <a href="{{deal.catalog2.link}}">
                    <img src="/media/{{deal.catalog2.photo}}" alt="Товар" class="my-announcement__image">
                </a>
                <div class="my-announcement__row">
                    <h6 class="my-announcement__title">{{deal.catalog2.title}}</h6>
                    <div class="my-announcement__info">
                      <p class="my-announcement__price"><span>≈</span>{{deal.catalog2.price}}₽</p>
                    </div>
                </div>
                <div class="my-announcement__row">
                  <p class="my-announcement__desc">{{deal.catalog2.short_desc}}</p>
                </div>
            </div>
            <svg class="arrows"><use href="#exchange"></use></svg>
            <div class="my-announcement">
                <a href="{{deal.catalog.link}}">
                    <img src="/media/{{deal.catalog.photo}}" alt="Товар" class="my-announcement__image">
                </a>
                <div class="my-announcement__row">
                    <h6 class="my-announcement__title">{{deal.catalog.title}}</h6>
                    <div class="my-announcement__info">
                      <p class="my-announcement__price"><span>≈</span>{{deal.catalog.price}}₽</p>
                    </div>
                </div>
                <div class="my-announcement__row">
                  <p class="my-announcement__desc">{{deal.catalog.short_desc}}</p>
                </div>
            </div>
            <div class="seller">
              <figure class="seller__image">
                <figcaption class="seller__name">{{deal.catalog.user.name}}</figcaption>
                <img src="/media/{{deal.catalog.user.photo}}">
              </figure>
              <div class="seller__reviews">
                <div class="seller__reviews-row">
                  <div class="seller__stars">
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                  </div>
                  <p class="seller__reviews-score">4.1</p>
                </div>
                <p class="seller__reviews-count">Отзывов: 2</p>
              </div>
              <label for="submit-finish-deal" class="chat_link">Завершить сделку</label>
              <form method="post">
                  {% csrf_token %}
                  <input name="deal" type="hidden" value="{{deal.id}}">
                  <input id="submit-finish-deal" name="submit-finish-deal" type="submit" style="display: none;" />
              </form>
            </div>
          </div>
        {% endfor %}
        {% for deal in currentDeals2 %}
          <div class="deal">
            <div class="my-announcement">
                <a href="{{deal.catalog2.link}}">
                    <img src="/media/{{deal.catalog2.photo}}" alt="Товар" class="my-announcement__image">
                </a>
                <div class="my-announcement__row">
                    <h6 class="my-announcement__title">{{deal.catalog2.title}}</h6>
                    <div class="my-announcement__info">
                      <p class="my-announcement__price"><span>≈</span>{{deal.catalog2.price}}₽</p>
                    </div>
                </div>
                <div class="my-announcement__row">
                  <p class="my-announcement__desc">{{deal.catalog2.short_desc}}</p>
                </div>
            </div>
            <svg class="arrows"><use href="#exchange"></use></svg>
            <div class="my-announcement">
                <a href="{{deal.catalog.link}}">
                    <img src="/media/{{deal.catalog.photo}}" alt="Товар" class="my-announcement__image">
                </a>
                <div class="my-announcement__row">
                    <h6 class="my-announcement__title">{{deal.catalog.title}}</h6>
                    <div class="my-announcement__info">
                      <p class="my-announcement__price"><span>≈</span>{{deal.catalog.price}}₽</p>
                    </div>
                </div>
                <div class="my-announcement__row">
                  <p class="my-announcement__desc">{{deal.catalog.short_desc}}</p>
                </div>
            </div>
            <div class="seller">
              <figure class="seller__image">
                <figcaption class="seller__name">{{deal.catalog.user.name}}</figcaption>
                <img src="/media/{{deal.catalog.user.photo}}">
              </figure>
              <div class="seller__reviews">
                <div class="seller__reviews-row">
                  <div class="seller__stars">
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                    <svg><use href="#star"></use></svg>
                  </div>
                  <p class="seller__reviews-score">4.1</p>
                </div>
                <p class="seller__reviews-count">Отзывов: 2</p>
              </div>
              <label for="submit-finish-deal" class="chat_link">Завершить сделку</label>
              <form method="post" action="{% url 'reviews' %}">
                  {% csrf_token %}
                  <input name="deal" type="hidden" value="{{deal.id}}">
                  <input id="submit-finish-deal" name="submit-finish-deal" type="submit" style="display: none;" />
              </form>
            </div>
          </div>
        {% endfor %}
        </div>
      </section>
    </div>
</main>
{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
    <script type="module" src="{% static 'fastbarterApp/js/main.js' %}"></script>
{% endblock %}
