{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/deals.css' %}">
{% endblock %}

{% block title %} Сделки {% endblock %}

{% block content %}
<main class="page">
<div class="navigation"><p>
    <a href="{% url 'catalog' %}">Главная</a>
    <span>&nbsp;>&nbsp;</span>
    <a href="{% url 'account' %}">Аккаунт</a>
    <span>&nbsp;>&nbsp;</span>
    <a href="{% url 'deals' %}">Сделки</a>
</p></div>
    <div class="container">
      {% include 'fastbarterApp/modules/account-menu.html' %}
      <section class="account">
        <h1 class="account__title">Сделки<button class="switch-button" id="open_current" style="color:#E04700; margin-left:200px;" type="submit" onclick="open_current()">Текущие</button>
        <button style="color:#4D4D4D" class="switch-button" id="open_done" type="submit" onclick="open_done()">Совершенные</button></h1>
        <div  class="done" id="done" style="display: none;">
        
        <script>
      function open_done() { 
      document.getElementById('done').style.display='block';
      document.getElementById('current').style.display='none';
      document.getElementById('open_done').style.color='#E04700';
      document.getElementById('open_current').style.color='#4D4D4D'; }
      function open_current() { 
      document.getElementById('current').style.display='block';
      document.getElementById('done').style.display='none'; 
      document.getElementById('open_current').style.color='#E04700';
      document.getElementById('open_done').style.color='#4D4D4D'; }
      </script>
        <div class="deal">
          <div class="my-announcement">
              <a href="{% url 'new-product' %}">
                  <img src="{% static 'fastbarterApp/img/som.webp' %}" alt="Товар" class="my-announcement__image">
              </a>
              <div class="my-announcement__row">
                  <h6 class="my-announcement__title">Говорящий сом</h6>
                  <div class="my-announcement__info">
                      <p class="my-announcement__price"><span>≈</span>100₽</p>
                  </div>
              </div>
              <div class="my-announcement__row">
                  <p class="my-announcement__desc">Говорящий сом для большого аквариума</p>
              </div>
          </div>
           <svg class="arrows"><use href="#exchange"></use></svg>

            <div class="my-announcement">
              <a href="{% url 'new-product' %}">
                  <img src="{% static 'fastbarterApp/img/sailentblock.webp' %}" alt="Товар" class="my-announcement__image">
              </a>
              <div class="my-announcement__row">
                  <h6 class="my-announcement__title">Сайлентблок передней балки</h6>
                  <div class="my-announcement__info">
                      <p class="my-announcement__price"><span>≈</span>614₽</p>
                  </div>
              </div>
              <div class="my-announcement__row">
                  <p class="my-announcement__desc">Бренд: АSVА, aртикул: 0501GHFС2, Сайлентблок пeрeдней балки.</p>
              </div>
          </div>
      <div class="seller">
        <figure class="seller__image">
          <figcaption class="seller__name">Ахтямов Чучмек</figcaption>
          <img src="{% static 'fastbarterApp/img/seller.png' %}">
        </figure>
        <a href="{% url 'reviews' %}" class="seller__reviews">
          <div class="seller__reviews-row">
            <div class="seller__stars">
              <svg><use href="#star"></use></svg>
              <svg><use href="#star"></use></svg>
              <svg><use href="#star"></use></svg>
              <svg><use href="#star"></use></svg>
              <svg><use href="#star"></use></svg>
            </div>
            <p class="seller__reviews-score">4.1</p>
          </div>
          <p class="seller__reviews-count">65 отзывов</p>
        </a>
        <a href="/catalog/1/" class="chat_link">Перейти в чат</a>
      </div>
          <span class="data">Дата и время обмена: 15.10.2023 19:38</span>
        </div>
        <div class="deal">
          <div class="my-announcement">
              <a href="{% url 'new-product' %}">
                  <img src="{% static 'fastbarterApp/img/som.webp' %}" alt="Товар" class="my-announcement__image">
              </a>
              <div class="my-announcement__row">
                  <h6 class="my-announcement__title">Говорящий сом</h6>
                  <div class="my-announcement__info">
                      <p class="my-announcement__price"><span>≈</span>100₽</p>
                  </div>
              </div>
              <div class="my-announcement__row">
                  <p class="my-announcement__desc">Говорящий сом для большого аквариума</p>
              </div>
          </div>
           <svg class="arrows"><use href="#exchange"></use></svg>

            <div class="my-announcement">
              <a href="{% url 'new-product' %}">
                  <img src="{% static 'fastbarterApp/img/sailentblock.webp' %}" alt="Товар" class="my-announcement__image">
              </a>
              <div class="my-announcement__row">
                  <h6 class="my-announcement__title">Сайлентблок передней балки</h6>
                  <div class="my-announcement__info">
                      <p class="my-announcement__price"><span>≈</span>614₽</p>
                  </div>
              </div>
              <div class="my-announcement__row">
                  <p class="my-announcement__desc">Бренд: АSVА, aртикул: 0501GHFС2, Сайлентблок пeрeдней балки.</p>
              </div>
          </div>
      <div class="seller">
        <figure class="seller__image">
          <figcaption class="seller__name">Ахтямов Чучмек</figcaption>
          <img src="{% static 'fastbarterApp/img/seller.png' %}">
        </figure>
        <a href="{% url 'reviews' %}" class="seller__reviews">
          <div class="seller__reviews-row">
            <div class="seller__stars">
              <svg><use href="#star"></use></svg>
              <svg><use href="#star"></use></svg>
              <svg><use href="#star"></use></svg>
              <svg><use href="#star"></use></svg>
              <svg><use href="#star"></use></svg>
            </div>
            <p class="seller__reviews-score">4.1</p>
          </div>
          <p class="seller__reviews-count">65 отзывов</p>
        </a>
            <a href="/catalog/1/" class="chat_link">Перейти в чат</a>
      </div>
            <span class="data">Дата и время обмена: 15.10.2023 19:38</span>
        
      </div>

        </div>
        <div class="current" id="current">cdsdcd
          <div class="deal">
            <div class="my-announcement">
                <a href="{% url 'new-product' %}">
                    <img src="{% static 'fastbarterApp/img/som.webp' %}" alt="Товар" class="my-announcement__image">
                </a>
                <div class="my-announcement__row">
                    <h6 class="my-announcement__title">Говорящий сом</h6>
                    <div class="my-announcement__info">
                        <p class="my-announcement__price"><span>≈</span>100₽</p>
                    </div>
                </div>
                <div class="my-announcement__row">
                    <p class="my-announcement__desc">Говорящий сом для большого аквариума</p>
                </div>
            </div>
             <svg class="arrows"><use href="#exchange"></use></svg>
  
              <div class="my-announcement">
                <a href="{% url 'new-product' %}">
                    <img src="{% static 'fastbarterApp/img/sailentblock.webp' %}" alt="Товар" class="my-announcement__image">
                </a>
                <div class="my-announcement__row">
                    <h6 class="my-announcement__title">Сайлентблок передней балки</h6>
                    <div class="my-announcement__info">
                        <p class="my-announcement__price"><span>≈</span>614₽</p>
                    </div>
                </div>
                <div class="my-announcement__row">
                    <p class="my-announcement__desc">Бренд: АSVА, aртикул: 0501GHFС2, Сайлентблок пeрeдней балки.</p>
                </div>
            </div>
        <div class="seller">
          <figure class="seller__image">
            <figcaption class="seller__name">Ахтямов Чучмек</figcaption>
            <img src="{% static 'fastbarterApp/img/seller.png' %}">
          </figure>
          <a href="{% url 'reviews' %}" class="seller__reviews">
            <div class="seller__reviews-row">
              <div class="seller__stars">
                <svg><use href="#star"></use></svg>
                <svg><use href="#star"></use></svg>
                <svg><use href="#star"></use></svg>
                <svg><use href="#star"></use></svg>
                <svg><use href="#star"></use></svg>
              </div>
              <p class="seller__reviews-score">4.1</p>
            </div>
            <p class="seller__reviews-count">65 отзывов</p>
          </a>
          <a href="/catalog/1/" class="chat_link">Перейти в чат</a>
        </div>
            <span class="data">Дата и время обмена: 15.10.2023 19:38</span>
          </div>
          <div class="deal">
            <div class="my-announcement">
                <a href="{% url 'new-product' %}">
                    <img src="{% static 'fastbarterApp/img/som.webp' %}" alt="Товар" class="my-announcement__image">
                </a>
                <div class="my-announcement__row">
                    <h6 class="my-announcement__title">Говорящий сом</h6>
                    <div class="my-announcement__info">
                        <p class="my-announcement__price"><span>≈</span>100₽</p>
                    </div>
                </div>
                <div class="my-announcement__row">
                    <p class="my-announcement__desc">Говорящий сом для большого аквариума</p>
                </div>
            </div>
             <svg class="arrows"><use href="#exchange"></use></svg>
  
              <div class="my-announcement">
                <a href="{% url 'new-product' %}">
                    <img src="{% static 'fastbarterApp/img/sailentblock.webp' %}" alt="Товар" class="my-announcement__image">
                </a>
                <div class="my-announcement__row">
                    <h6 class="my-announcement__title">Сайлентблок передней балки</h6>
                    <div class="my-announcement__info">
                        <p class="my-announcement__price"><span>≈</span>614₽</p>
                    </div>
                </div>
                <div class="my-announcement__row">
                    <p class="my-announcement__desc">Бренд: АSVА, aртикул: 0501GHFС2, Сайлентблок пeрeдней балки.</p>
                </div>
            </div>
        <div class="seller">
          <figure class="seller__image">
            <figcaption class="seller__name">Ахтямов Чучмек</figcaption>
            <img src="{% static 'fastbarterApp/img/seller.png' %}">
          </figure>
          <a href="{% url 'reviews' %}" class="seller__reviews">
            <div class="seller__reviews-row">
              <div class="seller__stars">
                <svg><use href="#star"></use></svg>
                <svg><use href="#star"></use></svg>
                <svg><use href="#star"></use></svg>
                <svg><use href="#star"></use></svg>
                <svg><use href="#star"></use></svg>
              </div>
              <p class="seller__reviews-score">4.1</p>
            </div>
            <p class="seller__reviews-count">65 отзывов</p>
          </a>
              <a href="/catalog/1/" class="chat_link">Перейти в чат</a>
        </div>
              <span class="data">Дата и время обмена: 15.10.2023 19:38</span>
          
        </div>
          </div>
      </section>
    </div>
</main>
{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
    <script type="module" src="{% static 'fastbarterApp/js/main.js' %}"></script>
{% endblock %}
