{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/edit-profile.css' %}">
{% endblock %}

{% block title %} Редактирование профиля {% endblock %}

{% block content %}
<main class="page">
    <div class="container">
      {% include 'fastbarterApp/modules/account-menu.html' %}
      <section class="edit-profile">
        <h1 class="edit-profile__title">Настройки профиля</h1>
        <form action="" class="edit-profile__form profile-form">
            <div class="profile-form__fields">
                <label for="name">
                    <span>Имя</span>
                    <input type="text" id="name" value="{{ user.name }}" placeholder="Введите имя"> 
                </label>
                <label for="location">
                    <span>Город</span>
                    <select name="location" id="location">
                        <option value="null">Не выбрано</option>
                        <option value="kazan">Казань</option>
                        <option value="moscow">Москва</option>
                        <option value="petersburg">Санкт-Петербург</option>
                        <option value="samara">Самара</option>
                        <option value="ekaterinburg">Екатеринбург</option>
                        <option value="krasnodar">Краснодар</option>
                    </select> 
                </label>
                <label for="phone">
                    <span>Телефон</span>
                    <input type="text" id="phone" value="{{ user.phone }}" placeholder="Введите номер телефона">
                </label>
                <label for="email">
                    <span>Эл.почта</span>
                    <input type="email" id="email" value="{{ user.email }}" placeholder="Введите email" disabled>
                </label>
            </div>
            <div class="profile-form__avatar">
                <figure class="profile-form__avatar-image">
                    <img src="{% static 'fastbarterApp/img/slide2.jpg' %}">
                </figure>
                <label class="profile-form__avatar-btn" for="avatar">Изменить фото профиля</label>
                <input type="file" id="avatar" style="display: none;">
                <input class="profile-form__submit" type="submit" value="Сохранить изменения">
            </div>
        </form>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
            <p>
            {{ error }}
            </p>
            <p>
            {{ answer}}
            </p>
        </form>
      </section>
    </div>
</main>
{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
    <script type="module" src="{% static 'fastbarterApp/js/main.js' %}"></script>
{% endblock %}