{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/edit-profile.css' %}">
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/navigation.css' %}">
{% endblock %}

{% block title %} Редактирование профиля {% endblock %}

{% block content %}
<main class="page">
    <div class="navigation"><p>
        <a href="{% url 'catalog' %}">Главная</a>
        <span>&nbsp;>&nbsp;</span>
        <a href="{% url 'account' %}">Аккаунт</a>
        <span>&nbsp;>&nbsp;</span>
        <a href="{% url 'edit-profile' %}">Редактирование профиля</a>
    </p></div>
    <div class="container">
      {% include 'fastbarterApp/modules/account-menu.html' %}
      <section class="edit-profile">
        <h1 class="edit-profile__title">Настройки профиля</h1>
        <form class="edit-profile__form profile-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="profile-form__fields">
                <label for="id_name">
                    <span>Имя</span>
                    {{ form.name }}
                </label>
                <label for="location">
                    <span>Город</span>
                    {{ form.city }}
                    <select name="location" id="location" style="display: none;">
                        <option value="null">Не выбрано</option>
                        <option value="kazan">Казань</option>
                        <option value="moscow">Москва</option>
                        <option value="petersburg">Санкт-Петербург</option>
                        <option value="samara">Самара</option>
                        <option value="ekaterinburg">Екатеринбург</option>
                        <option value="krasnodar">Краснодар</option>
                    </select> 
                </label>
                <label for="id_phone_number">
                    <span>Телефон</span>
                    {{ form.phone_number }}
                </label>
                <label for="id_email">
                    <span>Эл.почта</span>
                    {{ form.email }}
                </label>
            </div>
            <div class="profile-form__avatar">
                <figure class="profile-form__avatar-image">
                    {% if user.photo %}
                        <img src="/media/{{user.photo}}">
                    {% else %}
                        <img src="{% static 'fastbarterApp/img/slide2.jpg' %}">
                    {% endif %}
                </figure>
                <label class="profile-form__avatar-btn" for="id_photo">Изменить фото профиля</label>
                <span class="profile-form__avatar-input">
                    {{ form.photo }}
                </span>
                <input class="profile-form__submit" type="submit" value="Сохранить изменения">
            </div>
        </form>
      </section>
    </div>
</main>
{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
    <script type="module" src="{% static 'fastbarterApp/js/main.js' %}"></script>
{% endblock %}
