{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/account.css' %}">
{% endblock %}

{% block title %} Каталог товаров {% endblock %}

{% block content %}
<main class="page">
    <div class="container">
      {% include 'fastbarterApp/modules/account-menu.html' %}
      <section class="account">
        <h1 class="account__title">Ваши объявления</h1>
        <div class="my-announcements">
        {% for el in catalog %}
            <div class="my-announcement" data-price="{{el.price}}">
                <a href="{% url 'detail_catalog' el.pk %}">
                    <img src="/media/{{el.photo}}" alt="Товар" class="my-announcement__image">
                </a>
                <div class="my-announcement__row">
                    <h6 class="my-announcement__title my-announcement__search-text">{{el.title}}</h6>
                    <div class="my-announcement__info">
                        <p class="my-announcement__price"><span>≈</span>{{el.price}}₽</p>
                    </div>
                </div>
                <div class="my-announcement__row">
                    <p class="my-announcement__desc my-announcement__search-text">{{el.short_desc | safe }}</p>
                    <a href="{% url 'new-product' %}" class="my-announcement__link">
                        <svg><use href="#edit"></use></svg>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
      </section>
    </div>
</main>
{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
    <script type="module" src="{% static 'fastbarterApp/js/main.js' %}"></script>
{% endblock %}
