{% extends 'fastbarterApp/base_layout.html' %}

{% load static %}

{% block header %}
    {% include 'fastbarterApp/header.html' %}
    <link rel="stylesheet" href="{% static 'fastbarterApp/css/settings.css' %}">
{% endblock %}

{% block title %} Настройки {% endblock %}

{% block content %}
<main class="page">
    <div class="container">
      {% include 'fastbarterApp/modules/account-menu.html' %}
      <section class="settings">
        <h1 class="settings__title">Настройки</h1>
          <h3 class="settings__subtitle">Приватность</h3>
        <form action="" class="edit-profile__form profile-form">
            <div class="profile-form__fields">
                <label for="mail">
                    <span>Отображать электронную почту почту в профиле</span>
                    <input class="form-checkbox" id="mail" type="checkbox" name="mail" value="HTML">
                </label>
                <label for="number">
                    <span>Отображать номер телефона в профиле</span>
                    <input class="form-checkbox" id="number" type="checkbox" name="number" value="HTML">
                </label>

                <h3 class="settings__subtitle">Уведомления</h3>
                <label for="notification1">
                    <span>Уведомлять о сообщениях в сообществах</span>
                <input class="form-checkbox" id="notification1" type="checkbox" value="HTML">
                </label>
                <label for="notification2">
                    <span>Уведомлять о сообщениях в личном чате</span>
                <input class="form-checkbox" id="notification2" type="checkbox" value="HTML">
                </label>
                <label for="notification3">
                    <span>Уведомлять о предложениях в сообществах</span>
                <input class="form-checkbox" id="notification3" type="checkbox" value="HTML">
                </label>
                <label for="notification4">
                    <span>Уведомлять о предложениях в личном чате</span>
                <input class="form-checkbox" id="notification4" type="checkbox" value="HTML">
                </label>
                <label for="notification5">
                    <span>Уведомлять о просмотрах товара</span>
                <input class="form-checkbox" id="notification5" type="checkbox" value="HTML">
                </label>
                <label for="views_count">
                    <span>Количество просмотров для отправки уведомления</span>
                    <input class="form-check-input" type="number" id="views_count" value="50">
                </label>
                <label for="notification6">
                    <span>Уведомлять о добавлении товара в избранное</span>
                <input class="form-checkbox" id="notification6" type="checkbox" value="HTML">
                </label>
                <label for="likes_count">
                    <span>Количество добавлений для отправки уведомления</span>
                    <input class="form-check-input" type="number" id="likes_count" value="3">
                </label>
                <input class="profile-form__submit" type="submit" value="Сохранить изменения">
        </form>
      </section>
    </div>
</main>
{% endblock %}

{% block footer %}
    {% include 'fastbarterApp/footer.html' %}
    <script type="module" src="{% static 'fastbarterApp/js/catalog.js' %}"></script>
{% endblock %}