@import "modules/common.scss";

// Хедер
.header {
  border-bottom: 1px solid #E04700;
  background: rgba(255, 255, 255, 0.70);
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__burger{
    position:relative;
    width:30px;
    height:18px;
    cursor:pointer;
    z-index:12;
    &:before,
    &:after,
    span{
      content:"";
      width:100%;
      height:10%;
      background-color: #E04700;
      position:absolute;
      left:0;
    }
    &:before{
      top:0;
    }
    &:after{
      bottom:0;
    }
    span{
      top:50%;
    }
    @media(min-width:768px){
      display:none;
    }
  }
  &__logo {
    position:relative;
    z-index: 1;
  }
  &-button {
    @include btn;
    position:relative;
    z-index: 1;
  }
  .menu {
    padding-top: 0;
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    ul {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      li {
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
        @include underline;
        a {
          padding-top: 10px;
          padding-bottom: 10px;
          display: block;
          color: black;
          @include txt16;
          text-transform: uppercase;
        }
      }
    }
    .header-button {
      display: none;
    }
  }
  @media(min-width:768px){
    .menu{
      display:flex;
      flex:1 1 100%;
    }
  }
  @media(max-width:767px){
    .header-toolbar {
      &__auth {
        display: none;
      }
    }
    .menu{
      padding:130px 30px 30px 30px;
      position:fixed;
      top:-1000px;
      left:0;
      width:100%;
      height:100%;
      background-color:rgb(0,0,0,0.9);
      z-index:11;
      transition:top 0.7s ease 0s;
      font-size:18px;
      overflow:auto;
      display: flex;
      flex-direction: column;
      &__auth {
        display: flex;
        margin-top: 20px;
      }
      ul {
        margin-top: 40px;
        flex-direction: column;
        flex-basis: 100%;
        li{
          margin-right: 0;
          a{
            font-size: 20px;
          }
        }
      }
    }
    .header__burger.burger_active{
      span{
        display:none;
      }
      &:before{
        transform:rotate(45deg);
        top:50%;
      }
      &:after{
        transform:rotate(-45deg);
        top:50%;
      }
    }
    .header__menu.burger_active{
      top:0;
    }
  }
}

body.locked{
  overflow:hidden;
}

/*Главный экран со слайдами----------------------------------------*/
.main-screen{
    position: relative;
    &__search {
      margin-top: 30px;
    }
    &__bg {
      text-align: center;
    }
    .container {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
    &__subtitle,
    &__title {
      span {
        color: #F94E00;
      }
      text-align: center;
      font-family: "Sansation";
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 55.556% */
      letter-spacing: 0.5px;
    }
    &__subtitle {
      padding-top: 30px;
    }
    &__paragraph {
      color: #000;
      text-align: center;
      font-family: Sansation;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 100% */
      letter-spacing: 0.5px;
      padding-top: 30px;
    }
    overflow-x: hidden;
    position:relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }
.about {
    &__header {
        text-align: center;
    }
    &__title {
        @include h1;
    }
    &__text {
        @include h2;
        padding-top: 30px;
    }
    background-color: white;
    overflow-x: hidden;
    padding-top: 150px;
    padding-bottom: 154px;
  .main-swiper{
    margin-top: 100px;
    padding-bottom: 100px;
    position: relative;
    @media(max-width:1052px){
      overflow:hidden;
    }
  }
  .swiper{
    &-slide{
      overflow:hidden;
      position:relative;
      border-radius:10px;
      height:828px;
      width: 1100px;
      @media(max-width:767px){
        height:450px;
      }
      img{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        object-fit:cover;
      }
      figcaption{
        color:white;
        font-size: 80px;
        line-height: 85px;
        position:absolute;
        bottom:160px;
        left:50px;
        @media(max-width:767px){
          left:20px;
          font-size: 12vw;
        }
      }
    }
    &-button{
        svg {
            background-color: $orange;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            &:hover {
                background-color: $dark-orange;
            }
        }
      &:after{
        content:"";
      }
      top:94%;
      margin:auto;
      width:100px;
      height:40px;
      color: white;
    }
    &-button-prev{
      left:0;right:115px;
      transform: rotate(180deg);
    }
    &-button-next{
      left:115px;right:0;
    }
  }
}
.faq{
  margin: auto;
  padding: 100px 0;
  max-width: 960px;
  &__title {
    @include h1;
  }
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__content{
    margin-top: 70px;
    width:100%;
  }
}
.footer {
    background-color: white;
    border-radius: 24px 24px 0 0;
    padding-top: 40px;
    padding-bottom: 40px;
    .container {
        display: flex;
    }
    &-contacts {
        &__title {
            @include h1;
            border-bottom: 1px solid #E6EAEE;
            padding-bottom: 20px;
        }
    }
    &-feedback {
      border-radius: 28px;
      border: 1px solid #000;
      padding: 24px;
      width: 350px;
      &__title {
        @include h1;
      }
      &__text {
        @include txt16;
        padding-top: 30px;
      }
      &__form {
        display: flex;
        flex-direction: column;
      }
      &__input {
        border-bottom: 1px solid #000; 
        padding: 5px 12px;
        @include txt16;
        margin-top: 15px;
        &:focus {
          border-bottom: 1px solid $dark-orange; 
        }
      }
      &__submit {
        @include btn;
        border-radius: 10px; 
        width: 134px;
        margin: auto;
        margin-top: 20px;
      }
    }
}