@import "modules/modules.scss";
@import "modules/account-menu.scss";

.page {
  & > .container {
    display: flex;
  }
}

.account {
  margin-left: 60px;
  flex: 1 1 auto;
  max-width: 800px;
  &__title {
    @include h1;
    color: #4D4D4D; 
  }
  &-menu {
    width: 400px;
  }
  .my-announcements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1500px;
    margin: 50px auto;
    @media(max-width:768px){
      align-items: center;
      flex-direction: column;
    }
    .my-announcement {
      padding-bottom: 15px;
      border-radius: 10px;
      background-color: white;
      width: calc(50% - 30px);
      display: flex;
      flex-direction: column;
      overflow: hidden;
      &__info {
        display: flex;
        align-items: center;
        margin-left: 5px;
      }
      &__favorite {
        width: 25px;
        height: 25px;
        cursor: pointer;
        fill: transparent;
        &_active {
          fill: red;
          stroke: red;
        }
      }
      & > a {
        overflow: hidden;
      }
      &:hover img {
        transform: scale(1.1,1.1);
      }
      &__image{
        width: 100%;
        margin-bottom: 10px;
        max-height: 150px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        transition: all 0.4s ease;
      }
      &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        padding: 0 15px;
        align-items: center;
        &:nth-child(3) {
          flex: 1 0 auto;
        }
      }
      &__price {
        padding-right: 10px;
        white-space: nowrap;
        position: relative;
        span {
          font-size: 20px;
          position: absolute;
          top: -5px;
          left: -13px;
        }
      }
      &__desc {
        color: #939393;
        font-family: Sansation;
        @include txt13;
        align-self: flex-start;
      }
      &__link {
        display: flex;
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #F94E00;
        color: white;
        padding: 0 5px;
        margin-left: 5px;
        flex: 0 0 35px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}