@import "modules/modules.scss";
@import "modules/account-menu.scss";

.analytics {
  margin-left: 60px;
  flex: 1 1 auto;
  max-width: 800px;
  border-radius: 30px 30px 0px 0px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 906px;
  min-height: 100%;
  padding: 36px 100px;
  @include tablet {
    margin-left: 20px;
    padding: 36px 30px;
  }
 @include gap {
    padding: 20px 10px;
  }
  @include phone {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 25px;
  }

  &__title {
    @include h1;
    color: #4D4D4D;
     @include gap {
font-size:24px;
 padding-left:20px;}
  }
  &__subtitle {
    margin-top: 20px;
    @include h2;
    color: #4D4D4D;
  }
  .analytics-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1500px;
    margin: -10px auto 20px auto;
    &__fields {
      display: flex;
      flex-direction: column;
      label {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          @include txt18;
          font-weight: 400;
        }
        select,
        input {
          background-color: white;
          @include txt16;
          padding-left: 20px;
          margin-left: 20px;
          border-radius: 25px;
          border: 1px solid $orange;
          width: 265px;
          height: 41px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          @include gap {
            width: 200px;
            padding-left: 8px;
            margin-left: 10px;
          }
        }
      }
    }
    &__submit {
      @include btn;
      margin: auto;
      margin-top: 60px;
          @include tablet {
      margin-top: 20px;
          }
    }
  }
}
.form-check-input {
          background-color: white;
          @include txt16;
          padding-left: 20px;
          margin-left: 20px;
          border-radius: 25px;
          border: 1px solid $orange;
          width: 120px;
          height: 41px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.form-checkbox {
          background-color: white;
          @include txt16;
          margin-right:  60px;
          border-radius: 2px;
          border: 1px solid $orange;
          width: 25px;
          height: 25px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}