@import "modules/modules.scss";

.catalog{
  &__search {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  &__toolbar {
    max-width: 1500px;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: auto;
  }
  &-sort {
    display: flex;
    align-items: center;
    margin-left: -100px;
    &__title {
      @include h2;
      padding-right: 20px;
    }
    &__btn {
      @include btn-border;
      height: 46px;
      @include txt16;
      &_price {
        margin-left: 10px;
      }
      svg:first-child {
        transform: rotate(180deg);
        color: $orange;
        margin-right: 5px;
      }
      svg:last-child {
        margin-left: 5px;
      }
    }
    svg {
      width: 24px;
      height: 24px;
      color: black;
    }
    p {
      padding-left: 10px;
    }
  }
  &-filter {
    &__btn {
      @include btn-border;
    }
    svg {
      width: 20px;
      height: 20px;
      color: black;
    }
    p {
      padding-left: 10px;
    }
  }
  &-product {
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: white;
    width: calc(25% - 30px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &__info {
      display: flex;
      align-items: center;
    }
    &__favorite {
      width: 25px;
      height: 25px;
      cursor: pointer;
      fill: transparent;
      &_active {
        fill: red;
        stroke: red;
      }
    }
    & > a {
      overflow: hidden;
    }
    &:hover img {
      transform: scale(1.1,1.1);
    }
    &__image{
      width: 100%;
      margin-bottom: 10px;
      max-height: 150px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
      transition: all 0.4s ease;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      padding: 0 15px;
      align-items: center;
      &:nth-child(3) {
        flex: 1 0 auto;
      }
    }
    &__price {
      padding-right: 10px;
      white-space: nowrap;
      position: relative;
      span {
        font-size: 20px;
        position: absolute;
        top: -5px;
        left: -13px;
      }
    }
    &__desc {
      color: #939393;
      font-family: Sansation;
      @include txt13;
      align-self: flex-start;
    }
    &__link {
      display: flex;
      width: 82px;
      height: 34px;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      background: #F94E00;
      color: white;
      padding: 0 5px;
      margin-left: 5px;
    }
  }
  &__products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1500px;
    margin: 50px auto;
    @media(max-width:768px){
      align-items: center;
      flex-direction: column;
    }
  }
}

.popup-filters {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 3000;
  transition: opacity 0.5s ease 0s;
  &_active {
    opacity: 1;
    visibility: visible;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--materials-regular-dark, linear-gradient(0deg, #8C8C8C 0%, #8C8C8C 100%), rgba(37, 37, 37, 0.82));
    background-blend-mode: overlay, normal;
    box-shadow: 0.5px 0px 0px 0px rgba(84, 84, 88, 0.65);
    backdrop-filter: blur(50px);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  &__reset {
    @include h2;
    cursor: pointer;
  }
  &__submit {
    @include btn;
  }
  &__fields {
    padding-top: 60px;
  }
  &-prices {
    display: flex;
    padding-top: 10px;
    align-items: center;
    input {
      @include txt16;
      color: var(--base-60, #A0A0A0); 
      border-radius: 4px;
      border: 1px solid var(--base-40, #CFCFCF);
      background-color: transparent;
      display: flex;
      width: 132px;
      height: 45px;
      padding: 16px;
      align-items: center; 
      &:nth-child(2) {
        margin-left: 10px;
      }
    }
    .popup-filters__checkbox {
      display: flex;
      align-items: center;
      @include txt18;
      margin-right: 30px;
      cursor: pointer;
      input {
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin: 0 10px 0 30px;
      }
    }
  }
  &__location {
    text-align: center;
    cursor: pointer;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  &__subtitle {
    @include h2;
  }
  &-categories {
    position: relative;
    width: 100%;
    display: flex;
    &__menu {
      width: 500px;
      margin-top: 50px;
    }
    &__list {
      padding-left: 30px;
      li {
        @include h2;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__blocks {
      display: flex;
      justify-content: space-between;
      margin: 0 300px 0 50px;
      width: 100%;
      flex-wrap: wrap;
    }
    &__block {
      max-width: 190px;
      border-radius: 10px;
      background-color: $orange;
      padding: 20px 24px;
      margin: 50px 50px 0 0;
      flex: 0 1 400px;
      li {
        &:first-child {
          @include txt18;
          font-weight: 700;
        }
        @include txt16;
        margin-top: 15px;
        font-weight: 400;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}