@import "modules/modules.scss";
@import "modules/account-menu.scss";

.page {
  & > .container {
    display: flex;
  }
}

.account {
  margin-left: 60px;
  flex: 1 1 auto;
  max-width: 1400px;
  &__title {
    @include h1;
    color: #4D4D4D; 
  }
  &-menu {
    width: 400px;
  }
  .switch-button{
     @include h1;
     font-size:21px;
     background: none;
    }
  .deal {
    background: white;
    padding: 20px 20px 10px 20px;
    border-radius: 25px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    /*gap: 30px;*/
    max-width: 1000px;
    margin-top: 30px ;
    margin-left: 50px ;
    position: relative;
    .my-announcement {
      padding-bottom: 15px;
      border-radius: 10px;
      background-color: white;
      width: 300px;
      height: 200px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
      &__info {
        display: flex;
        align-items: center;
        margin-left: 5px;
      }
      &__favorite {
        width: 25px;
        height: 25px;
        cursor: pointer;
        fill: transparent;
        &_active {
          fill: red;
          stroke: red;
        }
      }
      & > a {
        overflow: hidden;
      }
      &:hover img {
        transform: scale(1.1,1.1);
      }
      &__image{
        width: 100%;
        margin-bottom: 10px;
        max-height: 100px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        transition: all 0.4s ease;
      }
      &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        padding: 0 15px;
        align-items: center;
        &:nth-child(3) {
          flex: 1 0 auto;
        }
      }
      &__price {
        padding-right: 10px;
        white-space: nowrap;
        position: relative;
        span {
          font-size: 20px;
          position: absolute;
          top: -5px;
          left: -13px;
        }
      }
      &__desc {
        color: #939393;
        font-family: Sansation;
        @include txt13;
        align-self: flex-start;
      }
      &__link {
        display: flex;
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #F94E00;
        color: white;
        padding: 0 5px;
        margin-left: 5px;
        flex: 0 0 35px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
.data{
margin-top: 5px;
color: $grey;
position: absolute;
bottom: 15px;
left: 30px;
}
.arrows{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
    height: auto;
}
.deal_link, .chat_link {
    display: flex;
    height: 45px;
    margin-top: 15px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: #f94e00;
    color: #fff;
    padding: 0 5px;
}
.deal {
  &_link {
      background: #f94e00;
      color: #fff;
      width: 150px;
      margin-left: 240px;
  }
  &__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.chat_link {
    background: #D4D4D4;
    color: #F94E00;
    width: 100%;
}
.seller {
  width: 251px;
  border-radius: 25px;
  background: #FFF;
  padding: 0 10px 0px 30px;
  &__image {
    @include h2;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
    figcaption {
      margin-left: 10px;
      font-size: 30px;
    }
  }
  
  &__stars {
    margin-top: 5px;
    margin-left: 25px;
    svg {
      width: 25px;
      height: 25px;
      color: #FDD835;
      &:last-child {
        color: #BDBDBD;
      }
    }
  }
  &__reviews {
    @include txt13;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    &-score {
      margin-left: 10px;
    }
    &-count {
      text-decoration: underline;
    }
    &-row {
      display: flex;
      align-items: center;
    }
  }
  &__registered {
    @include txt13;
    color: #515151;
    margin-top: 10px;
    text-align: center;
  }
}
.opened{
  color:#E04700;
}
.closed{
  color:#4D4D4D;
  text-decoration: underline;
}