@import "modules/modules.scss";

.product {
  border-radius: 30px 30px 0px 0px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 906px;
  margin: auto;
  min-height: 100%;
  &__favorite {
  padding-top:4px;
    fill: transparent;
    cursor: pointer;
    &_active {
      fill: red;
    }
  }
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0px 0;
    &__text {
      margin-left: 20px;
      max-width: 500px;
      form input {
        display: none;
      }
    }
    &__info {
      display: flex;
    }
    &__back {
    border-radius: 25px;
    background: #D4D4D4;
    color: #878787;
    width:165px;
    height:47px;
    display: flex;
      p{
        color: #BA3B00;
        text-align: center;
        align-self:center;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 133.333% */
        letter-spacing: 0.1px;}
      svg {
       margin: auto 0 auto 5px;
       width: 30px;
       height: 30px;
      }
    }
    svg {
      margin: auto 0 auto 10px;
      width: 30px;
      height: 30px;
    }
    &__name {
      @include h1;
      color: #4D4D4D; 
      text-align: left;
    }
    &__price {
      @include h1;
      font-weight:100;
      color: #4D4D4D;
      text-align: left;
    }
    &__date {
      padding-top: 5px;
     color: #515151;
    text-align: left;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 200% */
    letter-spacing: 0.5px;
    }
  }
  &-about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    &__image {
      img {
        /*object-fit: contain;*/
        object-fit: cover;
        width: 480px;
        height: 100%;
        max-height: 500px;
        margin-left: 0px;
        border-radius: 25px;
      }
    }
    &__price {
      @include h2;
      text-align: left;
      p:last-child {
        padding-top: 10px;
      }
      white-space: nowrap;
    }
    &__wish {
      padding-top: 20px;
      @include txt18;
      text-align: left;
      span:last-child {
        padding-top: 10px;
        font-weight: 400;
        text-decoration: underline;
      }
    }
    &__btn {
      @include btn;
      height:60px;
      width:230px;
      margin: 30px auto 0 auto;

    }
  }
  &-seller {
    color: #878787; 
    text-align: center;
    &__label {
        margin: 0px 10px 10px 10px;
      @include txt18;
    }
    &__name {
      padding-top: 5px;
      @include h2;
    }
    &__image {
        align-items: center;
    display: flex;
      margin-top: 10px;
      img {
      margin-bottom: 10px;
      }
    }
    &__registered {
      @include txt13;
      color: white;
    }
    &__stars {
      svg {
        margin-right:10px;
        width: 25px;
        height: 25px;
        color: #FDD835; 
        &:last-child {
        margin-right:0px;
          color: #BDBDBD; 
        }
      }
    }
    &__reviews {
      @include txt13;
      color: var(--black-06, rgba(0, 0, 0, 0.60)); 
      &:hover {
        p {
          text-decoration: underline;
        }
      }
      &-count {
        color:white;
      }
    }
  }
  &-content {
    flex: 1 0 auto;
    &__title {
     color: #4D4D4D;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 24px;
      margin-top: 15px;
    }
    &__link {
      margin: 10px 0 0 10px;
    }
    &__paragraph {
      margin-top: 15px;
      margin-left: 18px;
      @include txt16;
    }
  }
}
.popup-deals__change {
  width: 300px;
  margin-right: 20px;
  margin-top: -20px;
  @include btn-border;
  height: 50px;
}
