@import "modules/modules.scss";

.product {
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 1006px;
  margin: auto auto 30px auto;
  padding:0px 0 0 0;
  /*min-height: 100%;*/
  &__favorite {
    fill: transparent;
    cursor: pointer;
    &_active {
      fill: red;
    }
  }
  &-header {
    &__image {
      width: 100%;
      height: 400px;
      border-radius: 25px;
      img {
        border-radius: 25px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    padding: 20px 0 10px 0;
    &__text {
      max-width: 500px;
    }
    &__info {
      display: flex;
      padding-top: 30px;
    }
    &__back {
      color: #878787; 
    }
    svg {
      margin-left: 10px;
      width: 30px;
      height: 30px;
    }
    &__name {
      @include h1;
      color: #4D4D4D; 
      text-align: center;
      padding-top: 30px;
    }
    &__date {
      padding-top: 20px;
      @include txt16;
    }
  }
  &-about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    @include phone {
        flex-direction: column;
    }
    &__exchange {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 44%;
      @include gap {
        justify-content: center;
      }
      @include phone {
        width: 90%;
      }
    }
    &__btn:first-child {
      margin-right: 5px;
      @include tablet {
        margin-right: 0;
      }
      @include phone {
        margin-right: 20px;
      }
    }
    &__btns {
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin-top: 50px;
      @include tablet {
        flex-direction: column;
      }
      @include phone {
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        a {
        width:50%;
        font-size:18px;
        }
      }
    }
    &__title {
      @include h2;
      font-size: 26px;
      font-weight: 700;
      padding: 10px 0 0 20px;
      span {
        color: #939393;
      }
    }
    &__block {
      border: 1px solid $orange;
      border-radius: 25px;
      padding: 15px;
    }
    &__sellers {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__image {
      img {
        max-width: 391px;
        border-radius: 25px;
      }
    }
    &__price {
      @include h2;
      text-align: left;
      p:last-child {
        padding-top: 10px;
      }
      white-space: nowrap;
    }
    &__wish {
      padding-top: 20px;
      @include txt18;
      text-align: left;
      padding-left: 30px;
      p:last-child {
        padding-top: 10px;
        font-weight: 400;
        text-decoration: underline;
      }
    }
    &__btn {
      @include btn;
      margin-top: 30px;
      &_leave {
        background: #D4D4D4;
        color: $orange;
        &:hover {
          color: white;
        }
      }
    }
  }
  &-seller {
    color: #878787; 
    text-align: center;
    flex: 0 0 25%;
    &__label {
      @include txt18;
    }
    &__name {
      padding-top: 5px;
      @include h2;
    }
    &__registered {
      @include txt13;
    }
    &__stars {
      margin-top: 5px;
      svg {
        width: 30px;
        height: 30px;
        color: #FDD835; 
        &:last-child {
          color: #BDBDBD; 
        }
      }
    }
    &__reviews {
      @include txt13;
      color: var(--black-06, rgba(0, 0, 0, 0.60)); 
      &:hover {
        p {
          text-decoration: underline;
        }
      }
      &-count {
        margin-top: 5px;
      }
    }
  }
  &-content {
    flex: 1 0 auto;
    padding-bottom: 50px;
    .article {
      padding-top: 20px;
      &-header {
        display: flex;
        align-items: center;
        &__image {
          width: 60px;
          height: 60px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        &__text {
          @include txt16;
          padding-left: 10px;
          h3 {
            @include txt18;
            font-weight: 700;
          }
          p {
            padding-top: 5px;
          }
        }
      }
    }
    &__image {
      max-width: 100%;
      margin-top: 30px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__title {
    font-family: Roboto;
    font-size: 30px;
    FONT-WEIGHT: 200;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #4d4d4d;
    margin-top: 26px;
    /* padding-top: 30px; */
    padding: 0px 0px 0px 50px;
    margin: auto auto 20px auto;
    text-align: left;
    width: 1000px;
    }
    &__link {
      margin: 10px 0 0 20px;
      a {
        @include txt13;
        font-size: 15px;
        margin-top: 10px;
        color: $orange;
      }

    }
    &__paragraph {
      margin-top: 15px;
      @include txt16;
    }
  }
}

.social{
  padding:10px;
  display:flex;
  align-items: center;
  svg {
    margin:0px 5px 0 5px;
  }
  svg:last-child {
    margin:0px 250px 0 5px;
  }
  span{
    @include txt18;
    margin:0 20px 0 0;
  }
  a, a:visited{
    display: flex;
    align-items: center;
    color:#4D4D4D;
  }
}