@import "modules/modules.scss";

.catalog{
  &__title {
    @include h1;
    padding-left: 300px;
    @include gap {
      padding-left: 0;
    }
  }
  &__toolbar {
    @include tablet {
      align-items: center;
    }
   }
  &-product {
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: white;
    width: calc(25% - 30px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include desktop {
      width: calc(33% - 30px);
    }
    @include tablet {
      width: calc(50% - 30px);
    }
    @include gap {
      width: 100%;
      max-width: 400px;
    }
    &__info {
      display: flex;
      align-items: center;
      input,
      select {
        display: none;
      }
    }
    &__favorite {
      width: 25px;
      height: 25px;
      cursor: pointer;
      fill: transparent;
      &_active {
        fill: red;
        stroke: red;
      }
    }
    & > a {
      overflow: hidden;
    }
    &:hover img {
      transform: scale(1.1,1.1);
    }
    &__image{
      width: 100%;
      margin-bottom: 10px;
      max-height: 150px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
      transition: all 0.4s ease;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      padding: 0 15px;
      align-items: center;
      &:nth-child(3) {
        flex: 1 0 auto;
      }
    }
    &__price {
      padding-right: 10px;
      white-space: nowrap;
      position: relative;
      span {
        font-size: 20px;
        position: absolute;
        top: -5px;
        left: -13px;
      }
    }
    &__desc {
      color: #939393;
      font-family: Sansation;
      @include txt13;
      align-self: flex-start;
    }
    &__link {
      display: flex;
      width: 82px;
      height: 34px;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      background: #F94E00;
      color: white;
      padding: 0 5px;
      margin-left: 5px;
    }
  }
  &__toolbar,
  &__products {
    max-width: 1500px;
    margin: 50px auto;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    @media(max-width:768px){
      align-items: center;
      flex-direction: column;
    }
  }
}