@import "modules/modules.scss";
@import "modules/account-menu.scss";

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&family=Roboto+Condensed&display=swap');
.navigation{
margin:-20px 0 20px 20%;
}
.navigation a{
color: #4D4D4D;
font-family: 'Roboto Condensed', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 120% */
}
.navigation span{
color: #BA3B00;
font-family: 'Righteous', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}