@import "modules/modules.scss";

.catalog{
  &__found {
    @include txt16;
    text-align: right;
    margin-right: 300px;
    margin-top: 25px;
    color: $grey;
    @include gap {
    margin-right:0;
    text-align: center;
    }
  }
  &__search {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    @media (max-width: 1730px) {
      position: relative;
      order: 1;
    }
  }
  &__toolbar {
    max-width: 1500px;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: auto;
    @media (max-width: 1730px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &-sort {
    display: flex;
    align-items: center;
    margin-left: -100px;
    @media (max-width: 1730px) {
      order: 3;
      margin-top: 20px;
      margin-left: 0;
    }
    @include gap {
      flex-direction: column;
      margin-top: 40px;
    }
    &__title {
      @include h2;
      padding-right: 20px;
    }
    &__btn {
      @include btn-border;
      height: 46px;
      @include txt16;
      @include gap {
        margin-top: 20px;
      }
      &_price {
        margin-left: 10px;
      }
      svg:first-child {
        transform: rotate(180deg);
        color: $orange;
        margin-right: 5px;
      }
      svg:last-child {
        margin-left: 5px;
      }
    }
    svg {
      width: 24px;
      height: 24px;
      color: black;
    }
    p {
      padding-left: 10px;
    }
  }
  &-filter {
    &__btn {
      @include btn-border;
    }
    svg {
      width: 20px;
      height: 20px;
      color: black;
    }
    p {
      padding-left: 10px;
    }
  }
  &-product {
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    width: 761px;
    margin: auto;
    display: flex;
    overflow: hidden;
    @include desktop {
      width: calc(75% - 30px);
    }
    @include tablet {
      width: calc(75% - 30px);
      flex-direction: column;
    }

    &__header {
      display: flex;
      align-items: center;
    }
    &__title {
      @include h2;
    }
    &__info {
    }
    &__favorite {
      width: 25px;
      height: 25px;
      cursor: pointer;
      fill: transparent;
      &_active {
        fill: red;
        stroke: red;
      }
    }
    & > a {
      overflow: hidden;
      flex: 0 0 150px;
      border-radius: 10px;
    }
    &:hover img {
      transform: scale(1.1,1.1);
    }
    &__image{
      width: 100%;
      height: 100%;
      max-height: 150px;
      object-fit: cover;
      border-radius: 10px;
      transition: all 0.4s ease;
    }
    &__row {
      align-items: center;
      &:nth-child(2) {
        padding-left: 30px;
            @include gap {
            padding-left: 0px;}
      }
      &:nth-child(3) {
        padding-left: 15px;
        display:flex;
        align-items: flex-end;
        text-align: right;
        justify-content: space-between;
        flex: 1 0 auto;
      }
      svg {
        width: 30px;
        height: 30px;
        margin-top: 5px;
        cursor: pointer;
      }
    }
    &__top {
    &:nth-child(3) {
      flex-direction: column;}}
    &__bottom {
    flex-direction: column;
    @include tablet {
    &:nth-child(3) {
      flex-direction: row;}
    }
    }
    &__participants {
      white-space: nowrap;
      position: relative;
      padding-left: 15px;
      color: #939393;
    }
    &__desc {
      color: #939393;
      font-family: Sansation;
      @include txt13;
      align-self: flex-start;
    }
    &__link {
      display: flex;
      height: 34px;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      background: #F94E00;
      color: white;
      padding: 0 5px;
      margin-left: 5px;
      @include txt18-btn;
      font-size: 16px;
    }
  }
  &__products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1500px;
    margin: 30px auto 50px auto;
    @media(max-width:768px){
      align-items: center;
      flex-direction: column;
    }
  }
}
