@import "modules/modules.scss";

.new-product {
  border-radius: 30px 30px 0px 0px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 906px;
  margin: auto;
  min-height: 100%;
  padding: 36px 0;
  &__title {
    @include h2;
  }
  &__price {
    &::after {
      content: "₽"
    }
    .new-product__checkbox {
      display: inline-flex;
      align-items: center;
      @include txt18;
      margin-right: 30px;
      cursor: pointer;
      input {
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin: 0 10px 0 30px;
      }
    }
  }
  &__select select,
  &__input {
    margin-left: 20px;
    border: 1px solid $dark-orange;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    padding: 10px;
    @include txt16;
    background-color: #FFF;
  }
  &__row {
    padding-top: 20px;
  }
  &__message {
    color: green;
    text-align: center;
  }
  &__images {
    input#id_photo {
      display: none;
    }
  }
  &__add-image {
    @include btn-white;
    @include txt13;
    width: 200px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    svg {
      width: 20px;
      height: 20px;
    }
    span {
      padding-left: 10px;
    }
  }
  &__desc {
    display: flex;
    flex-direction: column;
    textarea {
      margin: 10px 0 0 0;
    }
  }
  &__submit {
    padding-top: 50px;
    &-btn {
      @include btn;
      margin: auto;
    }
  }
}