@import "modules/modules.scss";
@import "modules/account-menu.scss";

.services {
  margin-left: 60px;
  flex: 1 1 auto;
  max-width: 1200px;
  &__title {
    @include h1;
    color: #4D4D4D; 
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px auto;
    @media(max-width:768px){
      align-items: center;
      flex-direction: column;
    }
  }
  .service {
    padding-bottom: 15px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 18px;
    &__title {
      @include h2;
      text-align: center;
    }
    &__subtitle {
      @include txt18;
      padding-top: 5px;
    }
    &__list {
      @include txt13;
      padding-left: 20px;
      li {
        list-style: disc;
        padding-top: 3px;
      }
    }
    &__date {
      @include txt16;
      color: $orange;
      text-align: center;
      padding-top: 15px;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }
    &__price {
      @include h2;
    }
    &__link {
      @include btn;
      height: 45px;
      margin-left: 5px;
      flex: 0 0 35px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}